<li>
    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 6.09375C7.84607 6.09375 6.09375 7.84607 6.09375 10C6.09375 12.1539 7.84607 13.9062 10 13.9062C12.1539 13.9062 13.9062 12.1539 13.9062 10C13.9062 7.84607 12.1539 6.09375 10 6.09375ZM10 12.3438C8.70758 12.3438 7.65625 11.2924 7.65625 10C7.65625 8.70758 8.70758 7.65625 10 7.65625C11.2924 7.65625 12.3438 8.70758 12.3438 10C12.3438 11.2924 11.2924 12.3438 10 12.3438ZM20 10C20 8.60825 19.2598 7.34131 18.0966 6.64627C18.4276 5.33234 18.0551 3.91296 17.0711 2.92892C16.087 1.94489 14.6677 1.57242 13.3537 1.90338C12.6587 0.740356 11.3918 0 10 0C8.60825 0 7.34131 0.740204 6.64627 1.90338C5.33234 1.57257 3.91296 1.94489 2.92892 2.92892C1.94489 3.91296 1.57242 5.33234 1.90338 6.64627C0.740204 7.34131 0 8.60825 0 10C0 11.3918 0.740204 12.6587 1.90338 13.3537C1.57242 14.6677 1.94489 16.087 2.92892 17.0711C3.91541 18.0576 5.33585 18.4267 6.64627 18.0966C7.34131 19.2596 8.60825 20 10 20C11.3918 20 12.6587 19.2598 13.3537 18.0966C14.6677 18.4274 16.087 18.0551 17.0711 17.0711C18.0551 16.087 18.4276 14.6677 18.0966 13.3537C19.2598 12.6587 20 11.3918 20 10ZM16.866 12.213C16.4258 12.3666 16.2169 12.8699 16.4198 13.2901C16.8526 14.1867 16.6702 15.2621 15.9662 15.9662C15.2623 16.6702 14.1869 16.8524 13.2903 16.4197C12.8703 16.217 12.3668 16.4253 12.213 16.8658C11.8849 17.8059 10.9956 18.4375 10 18.4375C9.00436 18.4375 8.11508 17.8059 7.78702 16.866C7.6326 16.4232 7.12769 16.2181 6.7099 16.4197C5.81314 16.8524 4.73785 16.6702 4.03381 15.9662C3.32977 15.2623 3.14758 14.1869 3.58032 13.2903C3.78296 12.8703 3.57468 12.3668 3.13416 12.213C2.19406 11.8849 1.5625 10.9956 1.5625 10C1.5625 9.00436 2.19406 8.11508 3.134 7.78702C3.57422 7.63336 3.78311 7.13013 3.58017 6.7099C3.14743 5.81329 3.32977 4.73785 4.03381 4.03381C4.7377 3.32977 5.81314 3.14758 6.70975 3.58032C7.12967 3.78296 7.63321 3.57468 7.78702 3.13416C8.11508 2.19406 9.00436 1.5625 10 1.5625C10.9956 1.5625 11.8849 2.19406 12.213 3.134C12.3665 3.57422 12.8699 3.78311 13.2901 3.58032C14.1867 3.14743 15.2621 3.32977 15.9662 4.03381C16.6702 4.7377 16.8524 5.81314 16.4197 6.70975C16.217 7.12967 16.4253 7.63321 16.8658 7.78702C17.8059 8.11508 18.4375 9.00436 18.4375 10C18.4375 10.9956 17.8059 11.8849 16.866 12.213Z"/></svg>
    <a href="{'3718' | url}">{'3718' | resource : 'menutitle'}</a>
    <ul class="submenu">
        {var $filterBrands = '@FILE snippets/catalog/getVendors.php' | snippet}
        {foreach $filterBrands as $vendorItem}
            {if $vendorItem.resource ?}
                <li {$vendorItem.resource == $_modx->getPlaceholder('rout_typeId') ? 'class="active"' : ''}>
                    <a href="{'3718' | resource : 'uri'}/{$vendorItem.resource | url}">{$vendorItem.name}</a>
                </li>
            {/if}
        {/foreach}
        {*<li><a href="#">lorem</a></li>
        <li><a href="#">lorem</a></li>
        <li><a href="#">lorem</a></li>
        <li><a href="#">lorem</a></li>
        <li class="active"><a href="#">lorem</a></li>
        <li><a href="#">lorem</a></li>
        <li><a href="#">lorem</a>
            <ul class="second-submenu">
                <li><a href="#">Варежки</a></li>
                <li><a href="#">Перчатки</a></li>
                <li><a href="#">Брусчатка</a></li>
            </ul>
        </li>
        <li><a href="#">lorem</a></li>
        <li><a href="#">lorem</a></li>*}
    </ul>
</li>