<div class="content-wrapper">
    <div class="carts-block-wrapper">

        {if $is_empty ?}
            <div class="carts-block">
                <div class="cart-block-wrapper">
                    <div class="cart-block cart-block-empty">
                        <div class="cart-block-header">
                            <h2>Товары поштучно (0)</h2>
                        </div>
                        <div class="cart-items-wrapper cart-empty">
                            <svg class="cart-empty-icon"  viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10 28.3C10 27 10.9999 26 12.2999 26C13.5999 26 14.6 27 14.6 28.3C14.6 29.6 13.5999 30.6 12.2999 30.6C10.9999 30.6 10 29.6 10 28.3ZM21 28.3C21 27 21.9999 26 23.2999 26C24.5999 26 25.6 27 25.6 28.3C25.6 29.6 24.5999 30.6 23.2999 30.6C21.9999 30.6 21 29.6 21 28.3Z" fill="transparent"/><path fill-rule="evenodd" clip-rule="evenodd" d="M31.0944 6.13836C30.4906 5.43396 29.6855 5.03145 28.6792 5.03145H5.73592L5.53459 3.32075C5.33333 1.4088 4.02513 0 2.61633 0H0.905685C0.40254 0 0 0.402517 0 0.905662C0 1.40881 0.40254 1.81132 0.905685 1.81132H2.61633C2.91821 1.81132 3.52209 2.41509 3.72334 3.52201L6.44028 23.7484C6.5409 24.6541 7.0441 25.4591 7.7485 26.0629C8.25165 26.566 8.85535 26.8679 9.55975 26.9686C9.25786 27.4717 9.15721 27.9748 9.15721 28.5786C9.15721 30.4906 10.6667 32 12.5786 32C14.4906 32 16 30.4906 16 28.5786C16 27.9748 15.8994 27.4717 15.5975 26.9686H20.5283C20.3271 27.4717 20.1258 27.9748 20.1258 28.5786C20.1258 30.4906 21.6352 32 23.5472 32C25.4591 32 26.9686 30.4906 26.9686 28.5786C26.9686 27.9748 26.8679 27.4717 26.5661 26.9686H29.0818C29.5849 26.9686 29.9875 26.566 29.9875 26.0629C29.9875 25.5597 29.5849 25.1572 29.0818 25.1572H10.0629C9.15723 25.1572 8.25155 24.3522 8.15092 23.4465L7.94971 21.9371H15.2957H21.3334H26.5661C27.4717 21.9371 28.3774 21.6352 29.0818 20.9308C29.7862 20.327 30.2894 19.4214 30.39 18.6164L31.6981 8.45283C31.8994 7.6478 31.5975 6.84277 31.0944 6.13836ZM23.5472 27.1698C24.4529 27.1698 25.1572 27.8742 25.1572 28.7799C25.1572 29.6855 24.4529 30.3899 23.5472 30.3899C22.6415 30.3899 21.9372 29.6855 21.9372 28.7799C22.0378 27.8742 22.7422 27.1698 23.5472 27.1698ZM12.478 27.1698C13.3837 27.1698 14.088 27.8742 14.088 28.7799C14.088 29.6855 13.3837 30.3899 12.478 30.3899C11.5724 30.3899 10.868 29.6855 10.868 28.7799C10.868 27.8742 11.5724 27.1698 12.478 27.1698ZM5.93713 6.9434H13.3837L13.7862 12.6792H6.64148L5.93713 6.9434ZM7.7485 20.2264L6.94342 14.4906H13.8868L14.2894 20.2264H7.7485ZM20.5283 20.2264H16.2012L15.7988 14.4906H20.8303L20.5283 20.2264ZM21.0315 12.6792H15.6981L15.2957 6.9434H21.3334L21.0315 12.6792ZM28.5786 18.5157C28.478 19.4214 27.5723 20.2264 26.6667 20.2264H22.4403L22.8428 14.4906H29.1824L28.5786 18.5157ZM29.8869 8.3522L29.283 12.5786H22.8428L23.2453 6.84277H28.5786C28.9812 6.84277 29.283 6.9434 29.5849 7.24528C29.8868 7.6478 29.9875 7.94968 29.8869 8.3522Z" /></svg>
                            <p class="cart-empty-text">Корзина пуста</p>
                        </div>
                    </div>
                    <div class="bottom-text">
                        <p class="important">Минимальная сумма заказа <br> составляет {'sum_min_reservation_size' | config} ₽</p>
                    </div>
                </div>
                <div class="cart-block-wrapper">
                    <div class="cart-block cart-block-empty">
                        <div class="cart-block-header">
                            <h2>Товары рядами (0)</h2>
                        </div>
                        <div class="cart-items-wrapper cart-empty">
                            <svg class="cart-empty-icon"  viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10 28.3C10 27 10.9999 26 12.2999 26C13.5999 26 14.6 27 14.6 28.3C14.6 29.6 13.5999 30.6 12.2999 30.6C10.9999 30.6 10 29.6 10 28.3ZM21 28.3C21 27 21.9999 26 23.2999 26C24.5999 26 25.6 27 25.6 28.3C25.6 29.6 24.5999 30.6 23.2999 30.6C21.9999 30.6 21 29.6 21 28.3Z" fill="transparent"/><path fill-rule="evenodd" clip-rule="evenodd" d="M31.0944 6.13836C30.4906 5.43396 29.6855 5.03145 28.6792 5.03145H5.73592L5.53459 3.32075C5.33333 1.4088 4.02513 0 2.61633 0H0.905685C0.40254 0 0 0.402517 0 0.905662C0 1.40881 0.40254 1.81132 0.905685 1.81132H2.61633C2.91821 1.81132 3.52209 2.41509 3.72334 3.52201L6.44028 23.7484C6.5409 24.6541 7.0441 25.4591 7.7485 26.0629C8.25165 26.566 8.85535 26.8679 9.55975 26.9686C9.25786 27.4717 9.15721 27.9748 9.15721 28.5786C9.15721 30.4906 10.6667 32 12.5786 32C14.4906 32 16 30.4906 16 28.5786C16 27.9748 15.8994 27.4717 15.5975 26.9686H20.5283C20.3271 27.4717 20.1258 27.9748 20.1258 28.5786C20.1258 30.4906 21.6352 32 23.5472 32C25.4591 32 26.9686 30.4906 26.9686 28.5786C26.9686 27.9748 26.8679 27.4717 26.5661 26.9686H29.0818C29.5849 26.9686 29.9875 26.566 29.9875 26.0629C29.9875 25.5597 29.5849 25.1572 29.0818 25.1572H10.0629C9.15723 25.1572 8.25155 24.3522 8.15092 23.4465L7.94971 21.9371H15.2957H21.3334H26.5661C27.4717 21.9371 28.3774 21.6352 29.0818 20.9308C29.7862 20.327 30.2894 19.4214 30.39 18.6164L31.6981 8.45283C31.8994 7.6478 31.5975 6.84277 31.0944 6.13836ZM23.5472 27.1698C24.4529 27.1698 25.1572 27.8742 25.1572 28.7799C25.1572 29.6855 24.4529 30.3899 23.5472 30.3899C22.6415 30.3899 21.9372 29.6855 21.9372 28.7799C22.0378 27.8742 22.7422 27.1698 23.5472 27.1698ZM12.478 27.1698C13.3837 27.1698 14.088 27.8742 14.088 28.7799C14.088 29.6855 13.3837 30.3899 12.478 30.3899C11.5724 30.3899 10.868 29.6855 10.868 28.7799C10.868 27.8742 11.5724 27.1698 12.478 27.1698ZM5.93713 6.9434H13.3837L13.7862 12.6792H6.64148L5.93713 6.9434ZM7.7485 20.2264L6.94342 14.4906H13.8868L14.2894 20.2264H7.7485ZM20.5283 20.2264H16.2012L15.7988 14.4906H20.8303L20.5283 20.2264ZM21.0315 12.6792H15.6981L15.2957 6.9434H21.3334L21.0315 12.6792ZM28.5786 18.5157C28.478 19.4214 27.5723 20.2264 26.6667 20.2264H22.4403L22.8428 14.4906H29.1824L28.5786 18.5157ZM29.8869 8.3522L29.283 12.5786H22.8428L23.2453 6.84277H28.5786C28.9812 6.84277 29.283 6.9434 29.5849 7.24528C29.8868 7.6478 29.9875 7.94968 29.8869 8.3522Z" /></svg>
                            <p class="cart-empty-text">Корзина пуста</p>
                        </div>
                    </div>
                    <div class="bottom-text">
                        <p class="important">Минимальная сумма заказа <br> составляет {'sum_min_order_row' | config} ₽</p>
                    </div>
                </div>
            </div>
        {else}
            <div class="carts-block">
                {foreach $products as $type => $product}
                <div class="cart-block-wrapper">
                    {var $isCartTypeEmpty = !($product | length)}
                    <div class="cart-block {$isCartTypeEmpty ? 'cart-block-empty' : ''}">
                        <div class="cart-block-header">
                            <h2>{$titles[$type]} ({$total[$type]['count']})</h2>
                            <p class="price-wrapper">Сумма заказа: <span class="price">{$total[$type]['cost']} ₽</span></p>
                        </div>
                        {if $isCartTypeEmpty ?}
                            <div class="cart-items-wrapper cart-empty">
                                <svg class="cart-empty-icon"  viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10 28.3C10 27 10.9999 26 12.2999 26C13.5999 26 14.6 27 14.6 28.3C14.6 29.6 13.5999 30.6 12.2999 30.6C10.9999 30.6 10 29.6 10 28.3ZM21 28.3C21 27 21.9999 26 23.2999 26C24.5999 26 25.6 27 25.6 28.3C25.6 29.6 24.5999 30.6 23.2999 30.6C21.9999 30.6 21 29.6 21 28.3Z" fill="transparent"/><path fill-rule="evenodd" clip-rule="evenodd" d="M31.0944 6.13836C30.4906 5.43396 29.6855 5.03145 28.6792 5.03145H5.73592L5.53459 3.32075C5.33333 1.4088 4.02513 0 2.61633 0H0.905685C0.40254 0 0 0.402517 0 0.905662C0 1.40881 0.40254 1.81132 0.905685 1.81132H2.61633C2.91821 1.81132 3.52209 2.41509 3.72334 3.52201L6.44028 23.7484C6.5409 24.6541 7.0441 25.4591 7.7485 26.0629C8.25165 26.566 8.85535 26.8679 9.55975 26.9686C9.25786 27.4717 9.15721 27.9748 9.15721 28.5786C9.15721 30.4906 10.6667 32 12.5786 32C14.4906 32 16 30.4906 16 28.5786C16 27.9748 15.8994 27.4717 15.5975 26.9686H20.5283C20.3271 27.4717 20.1258 27.9748 20.1258 28.5786C20.1258 30.4906 21.6352 32 23.5472 32C25.4591 32 26.9686 30.4906 26.9686 28.5786C26.9686 27.9748 26.8679 27.4717 26.5661 26.9686H29.0818C29.5849 26.9686 29.9875 26.566 29.9875 26.0629C29.9875 25.5597 29.5849 25.1572 29.0818 25.1572H10.0629C9.15723 25.1572 8.25155 24.3522 8.15092 23.4465L7.94971 21.9371H15.2957H21.3334H26.5661C27.4717 21.9371 28.3774 21.6352 29.0818 20.9308C29.7862 20.327 30.2894 19.4214 30.39 18.6164L31.6981 8.45283C31.8994 7.6478 31.5975 6.84277 31.0944 6.13836ZM23.5472 27.1698C24.4529 27.1698 25.1572 27.8742 25.1572 28.7799C25.1572 29.6855 24.4529 30.3899 23.5472 30.3899C22.6415 30.3899 21.9372 29.6855 21.9372 28.7799C22.0378 27.8742 22.7422 27.1698 23.5472 27.1698ZM12.478 27.1698C13.3837 27.1698 14.088 27.8742 14.088 28.7799C14.088 29.6855 13.3837 30.3899 12.478 30.3899C11.5724 30.3899 10.868 29.6855 10.868 28.7799C10.868 27.8742 11.5724 27.1698 12.478 27.1698ZM5.93713 6.9434H13.3837L13.7862 12.6792H6.64148L5.93713 6.9434ZM7.7485 20.2264L6.94342 14.4906H13.8868L14.2894 20.2264H7.7485ZM20.5283 20.2264H16.2012L15.7988 14.4906H20.8303L20.5283 20.2264ZM21.0315 12.6792H15.6981L15.2957 6.9434H21.3334L21.0315 12.6792ZM28.5786 18.5157C28.478 19.4214 27.5723 20.2264 26.6667 20.2264H22.4403L22.8428 14.4906H29.1824L28.5786 18.5157ZM29.8869 8.3522L29.283 12.5786H22.8428L23.2453 6.84277H28.5786C28.9812 6.84277 29.283 6.9434 29.5849 7.24528C29.8868 7.6478 29.9875 7.94968 29.8869 8.3522Z" /></svg>
                                <p class="cart-empty-text">Корзина пуста</p>
                            </div>
                        {else}
                            <div class="cart-items-wrapper">
                                {foreach $product as $item}
                                    <div class="cart-item-view">
                                        <img src="{$item.cart ?: $item.image}" alt="{$item.pagetitle}">
                                        <div class="text">
                                            <p class="articul">{$item.article}</p>
                                            <p class="strong"><a href="{$item.uri}">{$item.longtitle ?: $item.pagetitle}</a></p>
                                            {if $item['option.size'] == 'all' ?}
                                                {var $size = 'Весь размерный ряд'}
                                                {var $sclass = 'pink-color'}
                                            {else}
                                                {var $size = $item['option.size']}
                                                {var $sclass = ''}
                                            {/if}
                                            <p class="size {$sclass}">Размер: {$size}</p>
                                        </div>
                                    </div>
                                {/foreach}
                            </div>
                            <a href="{$links[$type]}" class="button">Оформить заказ</a>
                        {/if}
                    </div>
                    <div class="bottom-text">
                        {*'@FILE snippets/cart/getBookingOrderDate.php' | snippet : [
                            'type' => $type,
                            'tpl' => '@INLINE <p><strong>Бронь заказа до {$date_end}</strong></p>'
                        ]*}
                        {if $type == 'size'}
                            {var $minSumToText = ('sum_min_reservation_' ~ $type) | config}
                        {else}
                            {var $minSumToText = ('sum_min_order_' ~ $type) | config}
                        {/if}
                        {var $minSum = $minSumToText | preg_replace : '/[^0-9+]/': ''}
                        {var $totalType = $total[$type]['cost'] | preg_replace : '/[^0-9+]/': ''}
                        {if $totalType < $minSum ?}
                            <p class="important">Минимальная сумма заказа <br> составляет {$minSumToText} ₽</p>
                        {/if}
                    </div>
                </div>
                {/foreach}
            </div>
        {/if}
        <a href="{'2' | url}" class="contunue button bigger">Продолжить покупки</a>
    </div>
    <div class="sidebar">
        <p><strong>Условия покупки одежды поштучно:</strong></p>
        <ul>
            <li>Минимальная сумма - {'sum_min_reservation_size' | config} ₽</li>
            <li>Сбор заказа 1-2 дня</li>
            <li>Отправка заказов осуществляется со склада г. Вологда</li>
            <li>Требуется оформление заказа на минимальную сумму. Возможно самостоятельное добавлением товаров к текущему заказу на протяжении срока бронирования.)</li>
        </ul>
        <p></p>
        <p><strong>Условия покупки одежды рядами:</strong></p>
        <ul>
            <li>Минимальная сумма - {'sum_min_order_row' | config} ₽</li>
            <li>Товары не бронируются и покупаются по факту наличия моделей в момент оплаты заказа</li>
            <li>Сбор заказов рядами осуществляется на фабрике индивидуально для каждого клиента</li>
            <li>Отправка заказов осуществляется со склада г. Вологда спустя 14-21 дней, для Кигуруми 21 день с момента зачисления денежных средств</li>
        </ul>
        <a href="{'33' | url}">Условия сотрудничества</a>
    </div>
</div>