<!DOCTYPE html>
<html lang="ru">

<head>

    {var $layout = ('assets_url' | config) ~ 'layout/app/'}

    <meta charset="utf-8">
    <!-- <base href="/"> -->

    <base href="{'site_url' | config}">

    <title>{$_modx->resource.seo_title ?: $_modx->resource.pagetitle}</title>
    <meta name="description" content="{$_modx->resource.seo_desc ?: $_modx->resource.description}">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Template Basic Images Start -->
    {if $_modx->resource.template == 3 ?}
        <meta property="og:image" content="{$_modx->resource.image | phpthumbon : 'w=1074&h=480&zc=0&bg=FFFFFF'}">
    {else}
        <meta property="og:image" content="{'assets_url' | config}images/pr_vk.jpg">
    {/if}

    <link rel="apple-touch-icon" sizes="180x180" href="{$layout}img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{$layout}img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="{$layout}img/favicon/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{$layout}img/favicon/favicon-16x16.png">
    <link rel="manifest" href="{$layout}img/favicon/site.webmanifest">
    <link rel="mask-icon" href="{$layout}img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-TileImage" content="{$layout}img/favicon/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Template Basic Images End -->

    <!-- Custom Browsers Color Start -->
    <meta name="theme-color" content="#000">
    <!-- Custom Browsers Color End -->

    <link rel="stylesheet" href="{$layout}css/main.min.css?v=1q2a3z4w5s6x7e8d9c0rfv1tgb">

</head>

{block 'openBody'}
    <body class="catalogue-page">
{/block}

    <div class="main-content">
        {if $_modx->user.id == 0 ?}
            <div class="message">
                <p class="message__text">При проблеме с авторизацией - <a class="message__link" href="{'41' | url}">восстановите пароль</a>.</p>
            </div>
        {/if}
        <header>
            <div class="container">
                <div class="header_top">
                    <nav class="top-menu">
                        {'!pdoMenu' | snippet : [
                            'parents' => 0,
                            'resources' => ('1' | resource : 'menu_top'),
                            'level' => 1,
                            'tplOuter' => '@INLINE <ul>{$wrapper}</ul>',
                            'tpl' => '@INLINE <li {$classes}><a href="{$link}">{$menutitle ?: $pagetitle}</a></li>'
                        ]}
                    </nav>
                    <div class="user-panel">
                        <a href="{'40' | url}" class="favorites">
                            <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.5269 0C9.97853 0 8.60223 0.869565 7.91405 2.08696C7.13986 0.869565 5.84947 0 4.30108 0C1.89248 0 0 1.91304 0 4.34783C0 5.65217 0.602214 6.78261 1.46243 7.65217L7.56994 13.8261C7.65597 13.913 7.82801 14 8.00005 14C8.1721 14 8.25812 13.913 8.43016 13.8261L14.5377 7.65217C15.3979 6.86956 16 5.65217 16 4.34783C15.828 2 13.9355 0 11.5269 0Z"/></svg>
                            <span class="vaf_count">{$_modx->resource.fav_count}</span>
                            Избранное
                        </a>

                        {block 'btnLogin'}
                            {if $_modx->isAuthenticated() ?}
                                {**}
                                {if $_modx->resource.parent == '108'}
                                    <a href="{$_modx->resource.id | url : [] : ['action' => 'auth/logout', 'user_id' => $_modx->user.id]}" class="cabinet">
                                        <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.77112 7.7875C11.0362 7.0875 11.8796 5.6875 11.8796 4.1125C11.8796 1.8375 10.1084 0 7.91563 0C5.72286 0 3.95181 1.8375 3.95181 4.1125C3.95181 5.6875 4.79519 7.0875 6.06025 7.7875C3.44579 8.05 0 9.5 0 14H16C16 9.5 12.3856 8.05 9.77112 7.7875Z"/></svg>
                                        Выход
                                    </a>
                                {else}
                                    <a href="{'108' | url }" class="cabinet">
                                        <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.77112 7.7875C11.0362 7.0875 11.8796 5.6875 11.8796 4.1125C11.8796 1.8375 10.1084 0 7.91563 0C5.72286 0 3.95181 1.8375 3.95181 4.1125C3.95181 5.6875 4.79519 7.0875 6.06025 7.7875C3.44579 8.05 0 9.5 0 14H16C16 9.5 12.3856 8.05 9.77112 7.7875Z"/></svg>
                                        Профиль
                                    </a>
                                {/if}
                            {else}
                                <a href="#login-popup" class="cabinet popup-btn">
                                    <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.77112 7.7875C11.0362 7.0875 11.8796 5.6875 11.8796 4.1125C11.8796 1.8375 10.1084 0 7.91563 0C5.72286 0 3.95181 1.8375 3.95181 4.1125C3.95181 5.6875 4.79519 7.0875 6.06025 7.7875C3.44579 8.05 0 9.5 0 14H16C16 9.5 12.3856 8.05 9.77112 7.7875Z"/></svg>
                                    Вход
                                </a>
                            {/if}
                        {/block}
                    </div>
                </div>
                <div class="header_middle">
                    <a href="#" class="toggle-menu"><span></span></a>
                    {'!mSearchForm' | snippet : [
                        'autocomplete' => '0',
                        'pageId' => '42',
                        'tplForm' => '@FILE chunks/forms/search_mobile.tpl'
                    ]}
                    <div class="left-part">
                        <div class="logo">
                            <a href="{'site_url' | config}">
                                <img src="{$layout}img/logo.svg" class="logo-without-text" alt="{'site_name' | config}">
                                <img src="{$layout}img/logo-text.svg" alt="{'site_name' | config}">
                            </a>
                        </div>
                        <div class="phone-wrapper">
                            <a href="tel:{('phone' | config) | preg_replace : '/[^0-9+]/': ''}" class="phone">{'phone' | config}</a>
                            {if 'whatsapp' | config ?}
                                <a href="https://wa.me/{('whatsapp' | config) | preg_replace : '/[^0-9+]/': ''}" class="whatsapp">
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.94145 0C4.54145 0 0.141402 4.4 0.141402 9.8C0.141402 11.6 0.641402 13.4 1.6414 15L0.0414264 19.2C-0.0585736 19.4 0.041402 19.7 0.141402 19.8C0.241402 19.9 0.441426 20 0.541426 20C0.641426 20 0.641439 20 0.741439 20L5.1414 18.4C6.5414 19.2 8.24141 19.6 9.84141 19.6C15.2414 19.6 19.6414 15.2 19.6414 9.8C19.6414 4.4 15.3415 0 9.94145 0ZM14.6414 12.8C14.3414 13.8 13.3414 14.5 12.2414 14.5C12.1414 14.5 12.0415 14.5 11.9415 14.5C10.5415 14.3 8.9414 13.4 7.6414 12C6.2414 10.7 5.3414 9.1 5.1414 7.7C4.9414 6.3 5.54141 5.3 6.84141 4.9C6.94141 4.9 6.94143 4.9 7.04143 4.9C7.74143 4.9 8.64145 5.9 8.94145 6.6C9.14145 7.1 9.14145 7.4 8.94145 7.7C8.34145 8.2 8.14144 8.6 8.24144 8.9C8.24144 9.2 8.5414 9.6 9.1414 10.2C9.2414 10.3 9.34145 10.4 9.44145 10.5C9.54145 10.6 9.64144 10.7 9.74144 10.8C10.3414 11.4 10.7414 11.7 11.0414 11.7C11.3414 11.7 11.6414 11.5 12.1414 11C12.2414 10.9 12.3414 10.8 12.6414 10.8C13.2414 10.8 14.2414 11.4 14.6414 12C14.6414 12.2 14.7414 12.5 14.6414 12.8Z"/></svg>
                                </a>
                            {/if}
                            {if 'viber' | config ?}
                                <a href="viber://chat?number={'viber' | config}" class="viber">
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M17.3302 8.48485C17.3302 5.65657 14.8674 3.0303 11.8916 2.62626C11.789 2.62626 11.789 2.62626 11.6863 2.62626C11.5837 2.62626 11.3785 2.62626 11.1733 2.62626C10.5576 2.62626 10.3524 3.0303 10.3524 3.33333C10.3524 3.53535 10.3523 3.83838 10.455 3.93939C10.6602 4.24242 11.0706 4.24242 11.2759 4.34343C11.3785 4.34343 11.4811 4.34343 11.4811 4.34343C14.2517 4.94949 15.1752 5.85858 15.5857 8.58586C15.5857 8.68687 15.5857 8.68687 15.5857 8.78788C15.5857 9.09091 15.6883 9.79798 16.4066 9.79798C16.5092 9.79798 16.5092 9.79798 16.6118 9.79798C17.3301 9.69697 17.2275 9.09091 17.2275 8.78788C17.3301 8.68687 17.3302 8.58586 17.3302 8.48485ZM19.9981 9.09091C19.9981 8.9899 19.9981 8.9899 19.9981 8.88889C20.1007 4.34343 15.9962 0.20202 11.3785 0C11.3785 0 11.3785 0 11.2759 0C11.2759 0 11.2759 0 11.1733 0C11.1733 0 11.0706 0 10.968 0C10.8654 0 10.7628 0 10.7628 0C10.0445 0 9.83929 0.50505 9.83929 0.80808C9.83929 1.51515 10.455 1.61616 10.8654 1.61616C10.9681 1.61616 11.0706 1.61616 11.0706 1.61616C15.5857 2.32323 17.638 4.44444 18.2537 8.88889C18.2537 8.9899 18.2537 9.09091 18.2537 9.19192C18.2537 9.49495 18.2537 10.303 19.0746 10.303C19.2799 10.303 19.4851 10.202 19.6903 10.101C19.9981 9.79798 19.9981 9.39394 19.9981 9.09091ZM18.1511 14.6465C18.0484 14.5455 17.9458 14.5455 17.8432 14.4444C17.3302 14.0404 16.8171 13.7374 16.304 13.3333C16.2014 13.2323 16.0988 13.2323 15.9962 13.1313C15.3805 12.7273 14.7648 12.4242 14.2517 12.4242C13.5334 12.4242 12.8151 12.8283 12.302 13.6364C12.0968 13.9394 11.789 14.1414 11.3785 14.1414C11.1733 14.1414 10.968 14.0404 10.6602 13.9394C8.6079 13.0303 7.06869 11.6162 6.24778 9.69697C5.83732 8.78788 5.9399 8.18182 6.6582 7.67676C7.06866 7.37373 7.88961 6.86868 7.787 5.85858C7.68438 4.74747 5.22163 1.41414 4.19548 1.0101C3.78502 0.808081 3.27192 0.808081 2.75885 1.0101C1.52747 1.41414 0.70653 2.12121 0.296071 3.0303C-0.114388 3.93939 -0.11435 4.94949 0.398724 6.06061C1.73272 9.19192 3.57974 12.0202 5.93988 14.3434C8.19741 16.5657 11.0707 18.3838 14.2517 19.798C14.5596 19.899 14.8674 20 15.0726 20C15.1752 20 15.1752 20 15.2779 20H15.3805C16.9197 20 18.7667 18.5859 19.2798 17.0707C19.7929 15.8586 18.8694 15.2525 18.1511 14.6465ZM11.6863 5.25253C11.3785 5.25253 10.8654 5.25252 10.6602 5.85858C10.5576 6.16161 10.5576 6.36364 10.6602 6.56566C10.8654 6.86869 11.1733 6.86869 11.3785 6.9697C12.4047 7.17172 12.9177 7.67676 13.0203 8.68687C13.0203 9.19192 13.4308 9.49495 13.8412 9.49495H13.9439C14.457 9.39394 14.6621 9.09091 14.6621 8.38384C14.6621 7.67677 14.2517 6.86869 13.636 6.26263C13.1229 5.55556 12.4046 5.25253 11.6863 5.25253Z"/></svg>
                                </a>
                            {/if}
                        </div>
                        <a href="#ask-question-popup" class="ask-question popup-btn">Задать вопрос</a>
                    </div>
                    <div class="mobile-icons">
                        <a href="#" class="search-icon">
                            <svg width="16" height="16" viewBox="0 0 16 16"  xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M15.5 13.8L12.2001 10.5C13.0001 9.4 13.4 8.1 13.4 6.7C13.4 5.8 13.2 4.9 12.9 4.1C12.5 3.3 12.1 2.5 11.5 1.9C10.9 1.3 10.2 0.8 9.30005 0.5C8.50005 0.1 7.60007 0 6.70007 0C5.80007 0 4.89998 0.2 4.09998 0.5C3.29998 0.9 2.50002 1.3 1.90002 1.9C1.30002 2.5 0.8 3.2 0.5 4.1C0.1 4.9 0 5.8 0 6.7C0 7.6 0.2 8.5 0.5 9.3C0.9 10.1 1.30002 10.9 1.90002 11.5C2.50002 12.1 3.19998 12.6 4.09998 12.9C4.89998 13.3 5.80007 13.4 6.70007 13.4C8.10007 13.4 9.4 13 10.5 12.2L13.8 15.5C14 15.7 14.3001 15.9 14.7001 15.9C15.0001 15.9 15.3 15.8 15.6 15.5C15.8 15.3 16 15 16 14.6C15.9 14.3 15.8 14 15.5 13.8ZM9.70007 9.7C8.90007 10.5 7.80007 11 6.70007 11C5.50007 11 4.50007 10.6 3.70007 9.7C2.90007 8.8 2.40002 7.8 2.40002 6.7C2.40002 5.5 2.80007 4.5 3.70007 3.7C4.50007 2.9 5.60007 2.4 6.70007 2.4C7.80007 2.4 8.90007 2.8 9.70007 3.7C10.5001 4.6 11 5.6 11 6.7C11 7.9 10.6001 8.9 9.70007 9.7Z"/></svg>
                        </a>
                        <a href="{'40' | url}" class="favorites">
                            <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.5269 0C9.97853 0 8.60223 0.869565 7.91405 2.08696C7.13986 0.869565 5.84947 0 4.30108 0C1.89248 0 0 1.91304 0 4.34783C0 5.65217 0.602214 6.78261 1.46243 7.65217L7.56994 13.8261C7.65597 13.913 7.82801 14 8.00005 14C8.1721 14 8.25812 13.913 8.43016 13.8261L14.5377 7.65217C15.3979 6.86956 16 5.65217 16 4.34783C15.828 2 13.9355 0 11.5269 0Z"/></svg>
                        </a>
                        {if $_modx->isAuthenticated() ?}
                            {if $_modx->resource.parent == '108'}
                                <a href="{$_modx->resource.id | url : [] : ['action' => 'auth/logout', 'user_id' => $_modx->user.id]}" class="cabinet">
                                    <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.77112 7.7875C11.0362 7.0875 11.8796 5.6875 11.8796 4.1125C11.8796 1.8375 10.1084 0 7.91563 0C5.72286 0 3.95181 1.8375 3.95181 4.1125C3.95181 5.6875 4.79519 7.0875 6.06025 7.7875C3.44579 8.05 0 9.5 0 14H16C16 9.5 12.3856 8.05 9.77112 7.7875Z"/></svg>
                                </a>
                            {else}
                                <a href="{'108' | url }" class="cabinet">
                                    <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.77112 7.7875C11.0362 7.0875 11.8796 5.6875 11.8796 4.1125C11.8796 1.8375 10.1084 0 7.91563 0C5.72286 0 3.95181 1.8375 3.95181 4.1125C3.95181 5.6875 4.79519 7.0875 6.06025 7.7875C3.44579 8.05 0 9.5 0 14H16C16 9.5 12.3856 8.05 9.77112 7.7875Z"/></svg>
                                </a>
                            {/if}
                        {else}
                            <a href="#login-popup" class="cabinet popup-btn">
                                <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.77112 7.7875C11.0362 7.0875 11.8796 5.6875 11.8796 4.1125C11.8796 1.8375 10.1084 0 7.91563 0C5.72286 0 3.95181 1.8375 3.95181 4.1125C3.95181 5.6875 4.79519 7.0875 6.06025 7.7875C3.44579 8.05 0 9.5 0 14H16C16 9.5 12.3856 8.05 9.77112 7.7875Z"/></svg>
                            </a>
                        {/if}
                    </div>
                    <div class="right-part">
                        {'!mSearchForm' | snippet : [
                            'autocomplete' => '0',
                            'pageId' => '42',
                            'tplForm' => '@FILE chunks/forms/search.tpl'
                        ]}
                        <div class="minimum-order-label">
                            Мин. заказ - {'sum_min_order_size' | config} ₽
                        </div>
                        {'!msMiniCart' | snippet : [
                            'tpl' => '@FILE chunks/base/mini_cart.tpl'
                        ]}
                    </div>
                </div>
                <nav class="main-menu">
                    <ul>
                        {foreach ('1' | resource : 'menu_catalog') | fromJSON as $item}
                            {var $isActivePage = $item.resource == $_modx->resource.id}
                            {if $item.select_as == 'null' || $item.select_as == 'new'}
                                <li class="{$item.style_class ?: 'menu_catalogue'} {$isActivePage ? 'active' : ''}"><a href="{$item.resource | url}">{$item.resource | resource : 'menutitle'}</a></li>
                            {elseif $item.select_as == 'without_rows'}
                                <li class="{$item.style_class ?: 'menu_catalogue'} {$isActivePage ? 'active' : ''}">
                                    <a href="{$item.resource | url}">{$item.resource | resource : 'menutitle'}</a>
                                    <nav class="submenu">
                                        <div class="menu">
                                            <ul>
                                                <li><a href="{'469' | url}">{'469' | resource : 'menutitle'}</a></li>
                                                <li><a href="{'470' | url}">{'470' | resource : 'menutitle'}</a></li>
                                            </ul>
                                        </div>
                                    </nav>
                                </li>
                            {elseif $item.select_as == 'sex'}
                                {var $menuItems = '@FILE snippets/catalog/getMenu.php' | snippet : [
                                    'field' => $item.select_as,
                                    'resource' => $item.resource
                                ]}
                                {if $menuItems ?}
                                    <li class="{$item.style_class ?: 'menu_catalogue'} {$isActivePage ? 'active' : ''}">
                                        <a href="{$item.resource | url}">{$item.resource | resource : 'menutitle'}</a>
                                        <nav class="submenu">
                                            <div class="menu">
                                                <ul>
                                                    {foreach $menuItems as $pr => $children}
                                                        {if $children | iterable}
                                                            <li>
                                                                <a href="{$item.resource | resource : 'uri'}/{$pr | url}">{$pr | resource : 'menutitle'}</a>
                                                                <ul>
                                                                    {foreach $children as $one}
                                                                        <li><a href="{$item.resource | resource : 'uri'}/{$one | url}">{$one | resource : 'menutitle'}</a></li>
                                                                    {/foreach}
                                                                </ul>
                                                            </li>
                                                        {else}
                                                            <li><a href="{$item.resource | resource : 'uri'}/{$children | url}">{$children | resource : 'menutitle'}</a></li>
                                                        {/if}
                                                    {/foreach}
                                                </ul>
                                            </div>
                                            {if $item.image ?}
                                                <div class="picture-block">
                                                    <img src="{($item.image | getPath) | phpthumbon : 'w=256&h=256&zc=1&q=80'}" alt="{$item.resource | resource : 'longtitle'}">
                                                    <p>{$item.resource | resource : 'longtitle'}</p>
                                                </div>
                                            {/if}
                                        </nav>
                                    </li>
                                {/if}
                            {/if}
                        {/foreach}
                    </ul>

                </nav>
            </div>
            <div class="mobile-info-block">
                <div class="container">
                    <a href="tel:{('phone' | config) | preg_replace : '/[^0-9+]/': ''}" class="phone">{'phone' | config}</a>
                    <p class="minimum-order">Мин. заказ - {'sum_min_order_size' | config} ₽</p>
                </div>
            </div>
        </header>

        {block 'template'}{/block}

    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col col-lg-4 col-md-3 wide-col">
                    <div class="minimum-order-label">Минимальный оптовый заказ - {'sum_min_order_size' | config} ₽</div>
                    <p>Доставка по России и СНГ</p>
                    <p>{'phone' | config} <br>
                        {'time_work' | config}
                    </p>
                    <p><a href="mailto:{'client_email' | config}">{'client_email' | config}</a></p>
                    <a href="#getPrice" class="button tooltip__btn">Выгрузить каталог товаров</a>
                </div>
                <div class="col col-lg-2 col-md-3 small-col">
                    <h3>Помощь</h3>
                    <nav>
                        {'!pdoMenu' | snippet : [
                            'parents' => 0,
                            'resources' => ('1' | resource : 'menu_help'),
                            'level' => 1,
                            'tplOuter' => '@INLINE <ul>{$wrapper}</ul>',
                            'tpl' => '@INLINE <li><a href="{$link}">{$menutitle ?: $pagetitle}</a></li>'
                        ]}
                    </nav>
                </div>
                <div class="col col-lg-2 col-md-3 small-col">
                    <h3>О компании</h3>
                    <nav>
                        {'!pdoMenu' | snippet : [
                            'parents' => 0,
                            'resources' => ('1' | resource : 'menu_about'),
                            'level' => 1,
                            'tplOuter' => '@INLINE <ul>{$wrapper}</ul>',
                            'tpl' => '@INLINE <li><a href="{$link}">{$menutitle ?: $pagetitle}</a></li>'
                        ]}
                    </nav>
                </div>
                <div class="col col-lg-2 col-md-3 small-col">
                    <h3>Клиентам</h3>
                    <nav>
                        {'!pdoMenu' | snippet : [
                            'parents' => 0,
                            'resources' => ('1' | resource : 'menu_client'),
                            'level' => 1,
                            'tplOuter' => '@INLINE <ul>{$wrapper}</ul>',
                            'tpl' => '@INLINE <li><a {if $link_attributes ?}class="tooltip__btn"{/if} href="{$link_attributes ?: $link}">{$menutitle ?: $pagetitle}</a></li>'
                        ]}
                    </nav>
                </div>
                <div class="col col-lg-2 col-md-12 small-col social-col">
                    <h3>Мы в соцсетях</h3>
                    <div class="social">
                        {if 'soc_vk' | config ?}
                            <a href="{'soc_vk' | config}"><svg width="49" height="48" viewBox="0 0 49 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M40.8 31.4C39.9 29.9 38.7 28.5 37.5 27.3L35.9 25.8C35.7 25.7 35.7 25.4 35.8 25.3L38 22.2C38.3 21.8 38.6 21.3 38.9 20.8L40.8 17.3C41.1 16.7 41.1 16 40.8 15.4C40.4 14.8 39.8 14.5 39.1 14.5H35.1C34.3 14.5 33.5 15 33.2 15.8L32.8 16.8C31.7 19.3 30.2 21.5 28.4 23.5V16.4C28.4 15.4 27.6 14.5 26.5 14.5H20.8C19.9 14.5 19.1 15.3 19.1 16.2C19.1 16.6 19.2 16.9 19.4 17.2L19.8 17.8C20.2 18.3 20.4 19 20.4 19.7V24.9C19.7 24.1 18.8 23 18.1 21.7C17 19.8 16.2 17.5 15.8 16.3C15.5 15.3 14.6 14.6 13.5 14.6H9.3C8.7 14.6 8.2 14.9 7.9 15.3C7.6 15.8 7.4 16.3 7.6 16.9L8.4 19.6C8.9 21.3 9.5 22.9 10.3 24.4C10.5 24.9 11.1 25 11.6 24.8C12.1 24.6 12.2 24 12 23.5C11.3 22.1 10.7 20.6 10.2 19.1L9.5 16.5H13.5C13.7 16.5 13.9 16.6 14 16.9C14.4 18.2 15.2 20.6 16.4 22.7C17.4 24.4 18.6 25.9 19.4 26.8C19.9 27.3 20.5 27.5 21.2 27.2C21.8 27 22.2 26.4 22.2 25.7V19.8C22.2 18.7 21.9 17.7 21.3 16.9L21 16.2H26.3V23.7C26.3 24.3 26.6 24.8 27 25.1C27.5 25.4 28 25.4 28.5 25.2L29 25C29.2 24.9 29.3 24.8 29.5 24.7C31.5 22.5 33.2 20.1 34.4 17.3L34.8 16.3C34.8 16.2 34.9 16.2 35 16.2H39C39 16.2 39 16.2 39.1 16.2C39.1 16.2 39.1 16.2 39.1 16.3L37.2 19.8C37 20.2 36.7 20.6 36.5 21L34.3 24.1C33.6 25 33.8 26.3 34.6 27.1L36.2 28.6C37.4 29.7 38.4 31 39.2 32.4L39.7 33.2C39.7 33.2 39.7 33.3 39.7 33.4C39.7 33.5 39.6 33.5 39.6 33.5H36.1C35.7 33.5 35.2 33.3 34.9 33L31.4 29.4C30.6 28.6 29.5 28 28.4 27.7C27.9 27.6 27.4 27.7 26.9 28C26.5 28.3 26.3 28.8 26.3 29.3V32.8C26.3 33.1 26.1 33.3 25.8 33.3C23.1 33.3 20.5 32.4 18.3 30.8C17.4 30.1 16.6 29.4 15.9 28.6C15.5 28.2 14.9 28.2 14.6 28.6C14.2 29 14.2 29.6 14.6 29.9C15.4 30.7 16.3 31.5 17.2 32.2C19.7 34.1 22.7 35.1 25.8 35.1C27.1 35.1 28.2 34 28.2 32.7V29.4C28.9 29.6 29.6 30 30.1 30.5L33.6 34.1C34.3 34.8 35.2 35.2 36.1 35.2H39.6C40.3 35.2 41 34.8 41.4 34.2C41.8 33.6 41.7 32.8 41.4 32.2L40.8 31.4ZM19.7 41.6H12.1C11.6 41.6 11.2 42 11.2 42.5C11.2 43 11.6 43.4 12.1 43.4H19.7C20.2 43.4 20.6 43 20.6 42.5C20.6 42.1 20.2 41.6 19.7 41.6ZM42.3 0H6.7C3.3 0 0.5 2.8 0.5 6.2V41.8C0.5 45.2 3.3 48 6.7 48H42.3C45.7 48 48.5 45.2 48.5 41.8V6.2C48.5 2.8 45.7 0 42.3 0ZM46.6 41.8C46.6 44.2 44.7 46.1 42.3 46.1H6.7C4.3 46.1 2.4 44.2 2.4 41.8V6.2C2.4 3.8 4.3 1.9 6.7 1.9H42.3C44.7 1.9 46.6 3.8 46.6 6.2V41.8Z"/></svg></a>
                        {/if}
                        {if 'soc_fb' | config ?}
                            <a href="{'soc_fb' | config}"><svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M41.8 0H6.2C2.8 0 0 2.8 0 6.2V41.8C0 45.2 2.8 48 6.2 48H23.2H24C24.5 48 24.9 47.6 24.9 47.1V39.8C24.9 39.3 24.5 38.9 24 38.9C23.5 38.9 23.1 39.3 23.1 39.8V45H23.2V46.1H6.2C3.8 46.1 1.9 44.2 1.9 41.8V6.2C1.9 3.8 3.8 1.9 6.2 1.9H41.8C44.2 1.9 46.1 3.8 46.1 6.2V41.8C46.1 44.2 44.2 46.1 41.8 46.1H32.8V29.6H38.2C38.7 29.6 39.1 29.2 39.1 28.8L39.8 22.1C39.8 21.8 39.7 21.6 39.6 21.4C39.5 21.1 39.2 21 38.9 21H32.8V17.5C32.8 16.9 33 16.6 33.5 16.6H38.8C39.3 16.6 39.7 16.2 39.7 15.7V9.2C39.7 8.7 39.3 8.3 38.8 8.3H31.8C27.8 8.3 25.7 10 24.7 11.5C23.2 13.5 23 16 23 17.2V21.1H18.5C18 21.1 17.6 21.5 17.6 22V28.7C17.6 29.2 18 29.6 18.5 29.6H23.1V32.3C23.1 32.8 23.5 33.2 24 33.2C24.5 33.2 24.9 32.8 24.9 32.3V28.7C24.9 28.2 24.5 27.8 24 27.8H19.4V23H24C24.5 23 24.9 22.6 24.9 22.1V17.2C24.9 15.1 25.6 10.2 31.9 10.2H38V14.9H33.6C32.4 14.9 31 15.6 31 17.6V22C31 22.5 31.4 22.9 31.9 22.9H37.9L37.4 27.7H31.9C31.4 27.7 31 28.1 31 28.6V47C31 47.5 31.4 47.9 31.9 47.9H32.8H41.8C45.2 47.9 48 45.1 48 41.7V6.2C48 2.8 45.2 0 41.8 0ZM5.4 9.6C4.9 9.6 4.5 10 4.5 10.6V18.4C4.5 18.9 4.9 19.3 5.4 19.3C5.9 19.3 6.3 18.9 6.3 18.4V10.6C6.4 10 6 9.6 5.4 9.6Z"/></svg></a>
                        {/if}
                        {if 'soc_inst' | config ?}
                            <a href="{'soc_inst' | config}"><svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M33.9375 0H14.0625C6.30844 0 0 6.30844 0 14.0625V33.9375C0 41.6916 6.30844 48 14.0625 48H33.9375C41.6916 48 48 41.6916 48 33.9375V14.0625C48 6.30844 41.6916 0 33.9375 0ZM46.125 33.9375C46.125 40.6577 40.6577 46.125 33.9375 46.125H14.0625C7.34231 46.125 1.875 40.6577 1.875 33.9375V14.0625C1.875 7.34231 7.34231 1.875 14.0625 1.875H33.9375C40.6577 1.875 46.125 7.34231 46.125 14.0625V33.9375ZM33.9375 4.125H14.0625C8.58291 4.125 4.125 8.58291 4.125 14.0625V33.9375C4.125 39.4171 8.58291 43.875 14.0625 43.875H19.7812C20.299 43.875 20.7188 43.4553 20.7188 42.9375C20.7188 42.4197 20.299 42 19.7812 42H14.0625C9.61687 42 6 38.3831 6 33.9375V14.0625C6 9.61687 9.61687 6 14.0625 6H33.9375C38.3831 6 42 9.61687 42 14.0625V33.9375C42 38.3831 38.3831 42 33.9375 42H28.2813C27.7635 42 27.3438 42.4197 27.3438 42.9375C27.3438 43.4553 27.7635 43.875 28.2813 43.875H33.9375C39.4171 43.875 43.875 39.4171 43.875 33.9375V14.0625C43.875 8.58291 39.4171 4.125 33.9375 4.125ZM18.0734 12.497C19.8915 11.5585 21.9409 11.0625 24 11.0625C31.1337 11.0625 36.9375 16.8663 36.9375 24C36.9375 31.1337 31.1337 36.9375 24 36.9375C16.8663 36.9375 11.0625 31.1337 11.0625 24C11.0625 21.7617 11.6435 19.5555 12.7426 17.6199C12.9983 17.1697 13.5705 17.0121 14.0208 17.2676C14.4711 17.5234 14.6288 18.0956 14.3731 18.5458C13.4339 20.1997 12.9375 22.0857 12.9375 24C12.9375 30.0998 17.9002 35.0625 24 35.0625C30.0998 35.0625 35.0625 30.0998 35.0625 24C35.0625 17.9002 30.0998 12.9375 24 12.9375C22.2136 12.9375 20.5089 13.3498 18.9335 14.1631C18.4734 14.4005 17.9079 14.2201 17.6704 13.7601C17.4329 13.2999 17.6134 12.7344 18.0734 12.497ZM24 15.5625C19.3476 15.5625 15.5625 19.3476 15.5625 24C15.5625 28.6524 19.3476 32.4375 24 32.4375C28.6524 32.4375 32.4375 28.6524 32.4375 24C32.4375 19.3476 28.6524 15.5625 24 15.5625ZM24 30.5625C20.3814 30.5625 17.4375 27.6186 17.4375 24C17.4375 20.3814 20.3814 17.4375 24 17.4375C27.6186 17.4375 30.5625 20.3814 30.5625 24C30.5625 27.6186 27.6186 30.5625 24 30.5625ZM32.7422 11.6953C32.7422 9.73097 34.3403 8.13281 36.3047 8.13281C38.269 8.13281 39.8672 9.73097 39.8672 11.6953C39.8672 13.6597 38.269 15.2578 36.3047 15.2578C34.3403 15.2578 32.7422 13.6597 32.7422 11.6953ZM34.6172 11.6953C34.6172 12.6258 35.3742 13.3828 36.3047 13.3828C37.2352 13.3828 37.9922 12.6258 37.9922 11.6953C37.9922 10.7648 37.2352 10.0078 36.3047 10.0078C35.3742 10.0078 34.6172 10.7648 34.6172 11.6953Z" /></svg></a>
                        {/if}
                        {if 'soc_twit' | config ?}
                            <a href="{'soc_twit' | config}"><svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M47.8108 8.69908C47.5109 8.39924 47.1111 8.29929 46.7113 8.39924C46.1117 8.69908 45.512 8.89897 45.0122 9.09887C45.8118 8.0994 46.4115 6.99998 46.7113 5.80061C46.8113 5.40083 46.7113 5.00104 46.4115 4.80114C46.1117 4.60125 45.6119 4.60125 45.3121 4.80114C43.7129 5.80061 41.9139 6.50024 40.1148 6.90003C38.2158 5.10098 35.6172 4.00157 32.9186 4.00157C27.1217 3.90162 22.5241 8.59913 22.5241 14.2961C22.5241 14.6959 22.5241 15.0957 22.6241 15.3955C21.1249 15.2956 19.7256 14.9957 18.3264 14.596C17.8266 14.496 17.3269 14.7959 17.127 15.2956C17.0271 15.7953 17.3269 16.2951 17.8266 16.495C19.7256 16.9947 21.7246 17.2945 23.7235 17.3945C24.0234 17.3945 24.3232 17.2945 24.5231 17.0946C24.723 16.8947 24.8229 16.5949 24.723 16.2951C24.623 15.6954 24.5231 14.9957 24.5231 14.3961C24.5231 9.69855 28.3211 5.90056 33.0186 5.90056C35.3174 5.90056 37.6162 6.90003 39.2153 8.59913C39.4152 8.79903 39.715 8.89897 40.1148 8.89897C41.4141 8.59913 42.6135 8.29929 43.8129 7.79956C43.1132 8.69908 42.3137 9.49866 41.3142 10.0983C40.9144 10.2982 40.8145 10.798 40.9144 11.1978C41.0144 11.5975 41.5141 11.8974 41.9139 11.7974C42.6135 11.5975 43.513 11.4976 44.3126 11.1978C43.513 11.9973 42.7135 12.697 41.8139 13.3966C41.5141 13.5965 41.4142 13.8963 41.4142 14.1962V15.3955C41.4142 28.1888 31.7193 41.3818 15.4279 41.3818C11.7299 41.3818 8.03182 40.5822 4.73356 39.083C8.6315 38.7832 12.3295 37.3839 15.5278 34.8852C15.8277 34.6853 15.9276 34.1856 15.8277 33.8857C15.7277 33.486 15.328 33.2861 14.9282 33.2861C11.8298 33.1861 9.03129 31.487 7.53208 28.7884C7.63203 28.7884 7.73198 28.7884 7.83192 28.7884C8.73145 28.7884 9.63097 28.6885 10.5305 28.3887C10.9303 28.2887 11.2301 27.8889 11.2301 27.4891C11.2301 27.0893 10.9303 26.6896 10.4305 26.5896C6.9324 25.89 4.33377 23.0915 3.73409 19.5933C4.73356 19.9931 5.83298 20.193 6.9324 20.193C7.33219 20.193 7.73198 19.8932 7.83192 19.4934C7.93187 19.0936 7.83192 18.6938 7.43213 18.3939C5.0334 16.7948 3.63414 14.1962 3.63414 11.2977C3.63414 10.1983 3.83404 9.19882 4.23383 8.19934C5.93293 9.99839 7.63203 11.4976 9.53102 12.697C9.93081 12.9968 10.5305 12.8969 10.8303 12.3971C11.1302 11.9973 11.0302 11.3977 10.5305 11.0978C8.43161 9.7985 6.53261 7.99945 4.93346 6.00051C4.73356 5.80061 4.43372 5.60072 4.13388 5.70067C3.83404 5.70067 3.5342 5.90056 3.3343 6.10046C2.43478 7.69961 1.93504 9.49866 1.93504 11.3977C1.93504 13.6964 2.63467 15.8953 4.03393 17.5944C3.73409 17.4944 3.5342 17.3945 3.23436 17.1946C2.93451 16.9947 2.63467 16.9947 2.33483 17.1946C2.03499 17.3945 1.8351 17.6943 1.8351 17.9942V18.0941C1.8351 21.5923 3.5342 24.6906 6.23277 26.5896C5.93293 26.4897 5.53314 26.6896 5.33325 26.8895C5.13335 27.0893 5.0334 27.4891 5.13335 27.789C6.23277 31.1872 9.03129 33.7858 12.3295 34.6853C9.53102 36.3844 6.43266 37.184 3.13441 37.184C2.43478 37.184 1.73515 37.184 1.03552 37.0841C0.635731 37.0841 0.235943 37.2839 0.0360489 37.6837C-0.0638982 38.0835 0.0360489 38.5833 0.435837 38.7832C4.93346 41.6816 10.1307 43.1808 15.4279 43.1808C19.7256 43.1808 23.7235 42.2813 27.3216 40.6822C30.6199 39.1829 33.6183 36.9841 36.017 34.1856C40.6146 28.9883 43.2132 22.1919 43.2132 15.3955V14.6959C45.0122 13.2966 46.5115 11.6975 47.8108 9.89845C48.1106 9.49866 48.0107 8.99892 47.8108 8.69908ZM26.9218 36.2845C27.1217 36.2845 27.2217 36.2845 27.4216 36.1845C29.8203 34.7853 31.9192 32.9862 33.7182 30.8873C34.0181 30.4875 34.0181 29.8879 33.6183 29.588C33.2185 29.2882 32.6188 29.2882 32.319 29.688C30.7198 31.6869 28.7209 33.2861 26.522 34.5854C26.1222 34.8852 25.9223 35.385 26.2222 35.8847C26.2222 36.0846 26.522 36.2845 26.9218 36.2845Z"/></svg></a>
                        {/if}
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <p class="copyright">{'' | date : 'Y'} © {'site_name' | config}</p>
                <p class="created-by">
                    <a href="http://nabami.ru/">Создание сайта</a>
                    <a href="http://otcommerce.com" style="font: 11px/16px 'Arial';">«Powered by © OT Commerce»</a>
                </p>
            </div>
        </div>
    </footer>

    {block 'formLogin'}
        {'!officeAuth' | snippet : [
            'groups' => 'Buyers',
            'tplLogin' => '@FILE chunks/forms/office.tpl',
            'tplLogout' => '@INLINE '
        ]}
    {/block}

    {'AjaxForm' | snippet : [
        'form' => '@FILE chunks/forms/question.tpl',
        'hooks' => 'notSpam,FormItSaveForm,email',
        'formFields' => 'name,useremail,message',
        'fieldNames' => 'name==Имя отправителя,useremail==Email,message==Вопрос',
        'formName' => 'Вопрос с сайта',
        'emailTpl' => '@FILE chunks/letters/question.tpl',
        'emailTo' => ('client_email' | config),
        'emailFromName' => $_modx->getPlaceholder('name'),
        'emailReplyTo' => $_modx->getPlaceholder('useremail'),
        'emailSubject' => 'Вопрос с сайта',
        'submitVar' => 'question',
        'validate' => 'name:required,useremail:required,message:required'
    ]}


    <div id="getPrice" class="tooltip getprice">
        <div class="tooltip__content">
            <p class="tooltip__title">Выберите сервис:</p>
            <a class="tooltip__link trigger" href="#turboparser_widget_button">Турбо парсер</a>
            <a class="tooltip__link trigger" href="#sliza-wgt-button">Sliza.ru</a>
        </div>
    </div>

    {block 'modals'}{/block}

    <script src="{$layout}js/scripts.min.js?v=1q2a3z4w5s6x7e8d9c0rfv1tgb"></script>
    <script src="{'assets_url' | config}components/favorite/js/web/default.js"></script>
    <script>
        var mse2Config = mse2Config || {};
    </script>
    <!-- Yandex.Metrika counter --> <script type="text/javascript" > (function(m,e,t,r,i,k,a){ m[i]=m[i]||function(){ (m[i].a=m[i].a||[]).push(arguments) }; m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a) }) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(42174654, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); </script> <noscript><div><img src="https://mc.yandex.ru/watch/42174654" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->

    <!-- Sliza.ru - Widget -->
    <script type="text/javascript" src="https://sliza.ru/wgt/widget.php"></script>
    <!-- /// -->

    <script type="text/javascript" src="https://cloudparser.ru/widget/script?hash=6fbb5c1a1ce737f9dd02e3d9bfbfc42dbd14d697" async></script>

    <!-- BEGIN TURBOPARSER CODE -->
    <script type='text/javascript'>(function(a,b,c,d){ var s = document.createElement(a); s.type = b; s.async = true; s.src = c; var ss = document.getElementsByTagName(d)[0]; ss.parentNode.insertBefore(s, ss); })('script', 'text/javascript', 'https://turboparser.ru/parser/widget/loader?hash=a738e37d8a5acd86d435ac590cf04788&ts='+Date.now(), 'script');</script>
    <!-- END TURBOPARSER CODE -->

    <script type="text/javascript" src="https://vk.com/js/api/openapi.js?168"></script>

    <!-- VK Widget -->
    <div id="vk_community_messages"></div>
    <script type="text/javascript">
        VK.Widgets.CommunityMessages("vk_community_messages", 138816998, { tooltipButtonText: "Есть вопрос?" });
    </script>

    {block 'scriptAfter'}{/block}
</body>
</html>
