@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)
	header
		.header_middle
			.phone-wrapper
				display: none
			.ask-question
				display: none

	.first-screen-pic
		.container
			position: relative
		&:before,
		&:after
			content: none
			background-image: none
		.container
			&:after
				display: block
				content: ""
				position: absolute
				left: 0
				bottom: -10px
				height: 22px
				width: 100%
				background-image: url("../img/border.png")
		.picture-block
			height: auto
			width: 600px
			min-width: auto
			background-repeat: no-repeat
			background-position: 100% 100%
			background-image: url("../img/first-screen-pic.png")
			background-size: contain
			&:before
				content: none
			&:after
				content: none
		.text-block
			padding-bottom: 32px
			width: calc(100% - 600px)
			h2
				font-size: 2.7em
			p
				font-size: 1.2em
				line-height: 1.2

	.product-cards-wrapper
		.product-card
			width: calc(25% - 16px)

	.catalogue-page
		.product-cards-wrapper
			.product-card
				width: calc(33% - 16px)

	.catalogue-content-wrapper
		.sidebar-catalogue-menu
			min-width: 200px

	.product-card
		.button
			font-size: .78em

	footer
		.wide-col
			font-size: .9em
		.social
			svg
				width: 32px
				height: 32px
			a
				width: 32px
				height: 32px
				margin-right: 16px
				margin-bottom: 16px

// ≥992px
+media-breakpoint-down(md)
	header
		.header_top
			font-size: .7em
			.top-menu
				li
					margin-right: 8px
					a
						padding-right: 8px

		.header_middle
			.logo
				margin-right: 16px
			.search-block
				width: 190px

		.main-menu
			padding: 16px
			ul
				align-items: center
				li
					font-size: .85em
					margin-right: 4px
					margin-left: 4px
					line-height: 1.2
					&.menu_discounts
						&:before
							content: none
					a
						display: inline-block


	.first-screen-pic
		.picture-block
			min-width: 420px
		.text-block
			width: auto
			h2
				font-size: 2em
			p
				font-size: 1em

	.product-cards-wrapper
		.product-card
			margin-bottom: 8px
			margin-right: 8px
			width: calc(33.333333% - 8px)
			&:nth-child(4n)
				margin-right: 8px
			.price-button-wrapper
				padding: 8px
				padding-top: 0

		.add-to-favorites
			right: 8px
			top: 8px
		.button
			font-size: .82em

	.catalogue-page
		.product-cards-wrapper
			.product-card
				width: calc(50% - 8px)

	.advantage
		img
			max-height: 60px
		padding: 0 16px
		p
			font-size: .9em
			padding-left: 16px

	footer
		.wide-col
			.button
				width: 230px
		.social-col
			margin-top: 32px

// ≥768px
+media-breakpoint-down(sm)

	.catalogue-content-wrapper
		.sidebar-catalogue-menu
			border-top-right-radius: 0
			position: absolute
			z-index: 10
			left: -200px
			transition: left .3s
			&.show
				left: 16px
			.show-btn
				display: flex



	header
		background-color: #fff
		padding-top: 8px
		position: fixed
		z-index: 200
		width: 100%
		&.sticky
			.mobile-info-block
				top: -100px
				opacity: 0
				position: absolute
		&+*
			margin-top: 91px!important
		.header_top
			display: none
		.header_middle
			margin-bottom: 8px
			.mobile-icons
				display: flex
				align-items: center
				.search-icon
					display: flex
					margin-right: 16px
					svg
						fill: $accent-color
						width: 24px
						height: 24px
				.favorites,
				.cabinet
					display: flex
					margin-right: 16px
					svg
						fill: $pink
						width: 24px
						height: 24px

			.toggle-menu
				display: block
			.logo
				.logo-without-text
					display: none
			.search-block,
			.minimum-order-label
				display: none

			.search-block.mobile-search-block
				// background-color: $gray

				padding: 8px
				height: 55px
				width: 100%
				left: 0
				display: block
				position: fixed
				top: -200px
				transition: top .2s
				button
					right: 22px
					top: 20px
				&.show
					top: 46px
					z-index: 300
			.cart-wrapper
				.cart-amount
					display: none

		.main-menu
			padding-left: 0
			padding-right: 0
			left: -100vw
			transition: left .3s
			display: block
			position: fixed
			top: 48px
			width: 100vw
			border-radius: 0
			background-color: #fff
			height: calc(100vh - 48px)
			overflow-y: scroll
			z-index: 100

			&>ul
				flex-direction: column
				align-items: flex-start
				&>li
					position: relative
					width: 100%
					border-bottom: 2px solid $gray
					padding-left: 52px
					&:not(.menu_catalogue)
						&:before
							display: block
							width: 36px
							height: 36px
							content: ""
							background-size: contain
							background-position: center
							background-repeat: no-repeat
							position: absolute
							top: 16px
							left: 16px
					&.menu_boys
						&:before
							background-image: url("../img/icon_for_boys.svg")
					&.menu_girls
						&:before
							background-image: url("../img/icon_for_girls.svg")
					&.menu_unisex
						&:before
							background-image: url("../img/icon_socks.svg")
					&.menu_new
						&:before
							background-image: url("../img/icon_new.svg")
					&.menu_soon
						&:before
							background-image: url("../img/icon_soon.svg")
					&.menu_discounts
						&:before
							content: "%"
							color: #fff
							font-weight: bold
							font-size: 24px
							line-height: 36px
							background-color: $accent-color

					&.menu_brands
						&:before
							background-image: url("../img/icon_settings.svg")

					&.menu_blog
						display: none

					a
						color: $violet
						font-size: 2em
						font-weight: 500
						padding: 16px
					&.menu_catalogue
						a
							font-weight: bold

					.submenu
						padding: 16px
						.menu
							&>ul
								column-count: 1
								&>li
									a
										padding: 8px

						.picture-block
							display: none


					.mobile-arrow
						position: absolute
						width: 32px
						height: 32px
						right: 16px
						line-height: 0
						display: flex
						top: 16px
						transform: rotate(90deg)
						background-image: url("../img/icon_arrow.svg")
						background-repeat: no-repeat
						background-size: 50%
						background-position: center center
						transition: transform .3s
						&.open
							transform: rotate(270deg)

			&.show
				left: 0
		.mobile-info-block
			display: block
			padding: 8px 0
			background-color: $yellow
			position: relative
			transition: opacity .2s
			top: 0
			.phone
				font-weight: bold
			.container
				align-items: center
				display: flex
				justify-content: space-between
			p
				margin-bottom: 0
				padding-bottom: 0

	.first-screen-pic
		.container
			flex-wrap: wrap
		.picture-block
			order: 2
			width: 100%
			min-width: auto
			background-image: none
			img
			 display: block
			 width: 100%

		.text-block
			width: 100%
			text-align: center
			order: 1
			display: flex
			flex-direction: column
			h2
				font-size: 3em
				margin-left: auto
				margin-right: auto
			.button
				margin-left: auto
				margin-right: auto

	.product-cards-wrapper
		.product-card
			width: calc(50% - 8px)

	.advantages-block
		.advantage
			display: flex
			flex-direction: column
			margin-bottom: 16px

	footer
		.col
			margin-bottom: 16px
		.social-col
			margin-top: 0
		.footer-bottom
			text-align: center
			.container
				flex-direction: column
			.copyright
				padding-bottom: 16px

	.subscribe-block
		h2
			font-size: 1.2em
			width: 100%
			padding-bottom: 16px
			text-align: center

	.subscribe-form
		flex-direction: column
		border-radius: 0 0 10px 10px
		input
			margin-bottom: 32px




// ≥576px
+media-breakpoint-down(xs)
	.first-screen-pic
		.text-block
			h2
				font-size: 2.5em

	.product-cards-wrapper
		justify-content: center
		.product-card
			width: 100%
			margin-right: 0
			margin-bottom: 16px

	.catalogue-page
		.product-cards-wrapper
			.product-card
				width: 100%

	.my-swiper-button-prev
		left: 0px
	.my-swiper-button-next
		right: 0px

	.our-brands
		.swiper-slide
			text-align: center

	header
		.main-menu
			&>ul
				&>li
					font-size: .6em


@media only screen and (max-width : 420px)
	header
		.header_middle
			.cart-wrapper
				img
					width: 24px
					height: 24px
			.logo
				margin-right: 8px
				width: 110px
				img
					max-width: 100%

			.mobile-icons
				.search-icon
					margin-right: 8px
					svg
						fill: $accent-color
						width: 20px
						height: 20px
				.favorites,
				.cabinet
					display: flex
					margin-right: 8px
					svg
						fill: $pink
						width: 20px
						height: 20px
		.toggle-menu
			width: $toggle-menu-side-size - 8px
			span
				&:before
					top: -$toggle-slice-height*3
				&:after
					top: $toggle-slice-height*3
			&.on
				span
					background-color: transparent
					&:before
						transform: rotate(45deg) translate($toggle-slice-height*2.5, $toggle-slice-height*2.5)
					&:after
						transform: rotate(-45deg) translate($toggle-slice-height*2, -$toggle-slice-height*2)
		.mobile-info-block
			font-size: .8em


/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
