$default-font: "PTRootUI", sans-serif
$accent-font: "Junegull", sans-serif
$accent-color: #00BAB4
$violet: #671A88
$pink: #FF6666
$gray: #F0F0F0
$yellow: #FECC39
$text-color: #671A88
$hover-color: #28CEC8

$toggle-menu-side-size: 32px
$toggle-slice-height: 3px

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 32px
$grid-columns: 12
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px)

$gutter: $grid-gutter-width


.mt10
	margin-top: 10px
.mt20
	margin-top: 20px
.mt30
	margin-top: 30px
.mt40
	margin-top: 40px
.mt50
	margin-top: 50px
.mt60
	margin-top: 60px
.mt70
	margin-top: 70px
.mt80
	margin-top: 80px

.mb10
	margin-bottom: 10px
.mb20
	margin-bottom: 20px
.mb30
	margin-bottom: 30px
.mb40
	margin-bottom: 40px
.mb50
	margin-bottom: 50px
.mb60
	margin-bottom: 60px
.mb70
	margin-bottom: 70px
.mb80
	margin-bottom: 80px

.mr10
	margin-right: 10px
.mr20
	margin-right: 20px
.mr30
	margin-right: 30px
.mr40
	margin-right: 40px
.mr50
	margin-right: 50px
.mr60
	margin-right: 60px
.mr70
	margin-right: 70px
.mr80
	margin-right: 80px

.ml10
	margin-left: 10px
.ml20
	margin-left: 20px
.ml30
	margin-left: 30px
.ml40
	margin-left: 40px
.ml50
	margin-left: 50px
.ml60
	margin-left: 60px
.ml70
	margin-left: 70px
.ml80
	margin-left: 80px

.pt10
	padding-top: 10px
.pt20
	padding-top: 20px
.pt30
	padding-top: 30px
.pt40
	padding-top: 40px
.pt50
	padding-top: 50px
.pt60
	padding-top: 60px
.pt70
	padding-top: 70px
.pt80
	padding-top: 80px

.pb10
	padding-bottom: 10px
.pb20
	padding-bottom: 20px
.pb30
	padding-bottom: 30px
.pb40
	padding-bottom: 40px
.pb50
	padding-bottom: 50px
.pb60
	padding-bottom: 60px
.pb70
	padding-bottom: 70px
.pb80
	padding-bottom: 80px

.pr10
	padding-right: 10px
.pr20
	padding-right: 20px
.pr30
	padding-right: 30px
.pr40
	padding-right: 40px
.pr50
	padding-right: 50px
.pr60
	padding-right: 60px
.pr70
	padding-right: 70px
.pr80
	padding-right: 80px

.pl10
	padding-left: 10px
.pl20
	padding-left: 20px
.pl30
	padding-left: 30px
.pl40
	padding-left: 40px
.pl50
	padding-left: 50px
.pl60
	padding-left: 60px
.pl70
	padding-left: 70px
.pl80
	padding-left: 80px

