@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: $accent-color
	font-size: .88em
	font-weight: 500

::selection
	background-color: $accent-color
	color: #fff

html
	overflow-x: hidden

body
	background-image: url("../img/common-bg.png")
	background-color: #f0f0f0
	font-size: 18px
	min-width: 320px
	position: relative
	line-height: 1.5
	font-family: $default-font
	font-weight: 500
	overflow-x: hidden
	color: $text-color
	display: flex
	flex-direction: column
	min-height: 100vh


h1, .h1


h2,.h2
	font-family: $accent-font
	font-size: 1.66em
	text-transform: uppercase
	line-height: 1.2
	// letter-spacing: .07em
	display: inline-block
	color: $pink
	font-weight: 400

.pink-color
	color: $pink

.violet-color
	color: $violet

.yellow-color
	color: $yellow

.violet-bg
	background-color: $violet

.yellow-bg
	background-color: $yellow

.pink-bg
	background-color: $pink

button:not([class="mfp-close"]),
.button:not([class="mfp-close"])
	display: inline-block
	cursor: pointer
	font-size: .94em
	text-align: center
	padding: 8px 16px
	background-color: $accent-color
	color: #fff
	border: 2px solid $accent-color
	border-radius: 100px
	font-weight: bold
	transition: background-color .3s
	&.bigger
		font-size: 1.11em
		padding: 12px 16px
	&:hover
		border-color: $hover-color
		text-decoration: none
		color: #fff
		background-color: $hover-color
	&.type2
		color: $accent-color
		background-color: #fff


nav
	ul
		padding: 0
		margin: 0
	li
		list-style: none
	a
		color: $violet

a
	color: $violet
	text-decoration: none
	&:hover
		text-decoration: none
		color: $hover-color


.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold

.main-content
	flex: 1 0 auto

.minimum-order-label
	// height: 24px
	background-color: $yellow
	padding-left: 8px
	padding-right: 8px
	display: inline-flex
	align-items: center

	border-radius: 4px

input,
textarea
	height: 40px
	border-radius: 100px
	padding: 8px 16px
	border: none
	background-color: $gray
	outline: none

footer
	flex: 0 0 auto

.toggle-menu
	cursor: pointer
	display: none
	z-index: 30
	height: $toggle-menu-side-size
	width: $toggle-menu-side-size
	text-align: center
	line-height: $toggle-menu-side-size
	padding-top: 15px
	right: 0

	span
		width: 100%
		height: $toggle-slice-height
		background-color: $accent-color
		transition: all 0.3s
		backface-visibility: hidden
		border-radius: 5px
		position: relative
		display: block
		&:before,
		&:after
			width: 100%
			height: $toggle-slice-height
			background-color: $accent-color
			transition: all 0.3s
			backface-visibility: hidden
			border-radius: 2px
			content: ""
			position: absolute
			left: 0
			top: -$toggle-slice-height*4

		&:after
			top: $toggle-slice-height*4


	//on activation
	&.on
		span
			background-color: transparent
			&:before
				transform: rotate(45deg) translate($toggle-slice-height*3, $toggle-slice-height*3)
			&:after
				transform: rotate(-45deg) translate($toggle-slice-height*3, -$toggle-slice-height*3)

header
	padding-top: 16px
	margin-bottom: 24px
	.mobile-info-block
		display: none
	.header_top
		font-size: .88em
		display: flex
		justify-content: space-between
		margin-bottom: 8px
		.top-menu
			li
				display: inline-block
				padding: 0
				margin-right: 12px
				a
					padding-right: 12px
				&:after
					content: "|"
				&:last-child
					&:after
						content: none




		.user-panel
			svg
				fill: $pink
				margin-right: 4px
			.favorites
				margin-right: 16px

	.header_middle
		margin-bottom: 16px
		display: flex
		justify-content: space-between
		align-items: center
		.mobile-icons
			display: none
		.left-part,
		.right-part
			display: flex
			justify-content: space-between
			align-items: center
		.logo
			margin-right: 24px
			.logo-without-text
				margin-right: 8px
				margin-top: -4px
		.phone-wrapper
			display: flex
			align-items: center
			.phone
				font-weight: bold
				margin-right: 16px
			.whatsapp,
			.viber
				margin-right: 16px
				line-height: 1
				svg
					fill: $pink

		.ask-question
			color: $pink
			font-weight: bold
			&:hover
				color: $hover-color


		.search-block
			width: 232px
			height: 39px
			position: relative
			margin-right: 24px
			&.mobile-search-block
				display: none
			input
				background: $gray
				// background-color: transparent
				border: 2px solid $accent-color
				border-radius: 100px
				width: 100%
				height: 100%
				padding-left: 16px

			button
				position: absolute
				background-color: transparent
				padding: 0
				font-size: 1em
				right: 14px
				top: 12px
				border: none
				outline: none
				cursor: pointer
				line-height: 1
				svg
					fill: $accent-color

		.minimum-order-label
			font-size: .72em
			margin-right: 16px


		.cart-wrapper
			display: flex
			align-items: center
			position: relative
			.cart-amount
				font-size: .88em
				color: $pink
				font-weight: bold
				margin-left: 8px
			.product-count
				position: absolute
				font-size: .55em
				font-weight: bold
				width: 18px
				height: 18px
				border-radius: 50%
				background-color: $yellow
				text-align: center
				line-height: 18px
				top: -2px
				left: 15px

	.main-menu
		position: relative
		padding: 16px 32px
		background-color: $violet
		border-radius: 10px
		&>ul
			display: flex
			justify-content: space-between
			// position: relative
			a
				color: #fff
				font-weight: bold
				&:hover
					color: $yellow
			&>li
				// position: relative
				.mobile-arrow
					display: none
				&.active
					a
						color: $yellow
				&.show-submenu
					&>a
						position: relative
						&:after
							content: ""
							position: absolute
							bottom: -18px
							left: 50%
							transition: translateX(-50%)
							width: 0
							height: 0
							border-left: 8px solid transparent
							border-right: 8px solid transparent
							border-bottom: 8px solid $yellow

				&.menu_discounts
					&:before
						content: "%"
						display: inline-block
						width: 24px
						height: 24px
						border-radius: 50%
						background-color: $yellow
						color: $violet
						font-weight: bold
						line-height: 24px
						text-align: center
						margin-right: 4px
				.submenu
					display: none
					position: absolute
					width: 100%
					left: 0
					background-color: #fff
					top: 59px
					z-index: 10
					padding: 40px
					box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.05)
					border-radius: 10px
					justify-content: space-between
					&.show
						display: flex
					.menu
						width: calc(100% - 256px - 24px)
						font-size: .88em
						li
							margin-bottom: 8px
							a
								color: $violet
								&:hover
									text-decoration: underline
						&>ul
							column-count: 3
							column-gap: 24px

							ul
								padding: 8px 0
								li
									&:before
										content: "-"
										margin-right: 2px

									&:last-child
										margin-bottom: 0

					.picture-block
						width: 256px
						display: flex
						flex-direction: column
						justify-content: center
						align-items: center
						p
							font-weight: bold
							margin-top: 8px
						img
							width: 256px
							border-radius: 10px
							overflow: hidden




strong
	font-weight: bold

.header-wrapper_right-label
	font-size: .77em


.first-screen-pic
	margin-top: 24px
	position: relative
	&:before,
	&:after
		content: ""
		width: 600px
		height: 680px
		background-repeat: no-repeat
		position: absolute
		z-index: -1
		top: -130px
	&:before
		background-image: url("../img/rainbow.png"), url("../img/cloud.png")
		background-position: -100px 270px, 100px 0
		left: -80px
	&:after
		background-image: url("../img/rainbow2.png"), url("../img/cloud2.png")
		background-position: 0 170px, 100px 30px
		right: -300px
	.container
		display: flex
	.picture-block
		width: 648px
		min-width: 648px
		height: 408px
		position: relative
		img
			display: none
		&:before
			display: block
			position: absolute
			top: 0
			right: 0
			height: 100%
			width: 200%
			background-repeat: no-repeat
			background-position: 100% center
			content: ""
			background-image: url("../img/first-screen-pic.png")
			background-size: contain
		&:after
			display: block
			content: ""
			position: absolute
			bottom: -10px
			left: -100px
			height: 22px
			width: 1250px
			background-image: url("../img/border.png")


	.text-block
		width: calc(100% - 648px)
		padding-top: 24px
		text-align: center
		h2
			font-size: 3.5em
			&.violet-bg
				padding: 0 8px 0 16px
				border-radius: 10px

		p
			font-size: 1.55em
			color: $accent-color


.product-card
	margin-bottom: 16px
	margin-right: 16px
	max-width: 265px
	background: #FFFFFF
	box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.05)
	border-radius: 10px
	position: relative
	overflow: hidden
	.bage
		position: absolute
		top: 16px
		left: 0
		font-size: .72em
		font-weight: bold
		text-transform: uppercase
		color: #fff
		padding: 4px 8px
		border-radius: 0px 5px 5px 0px
	.add-to-favorites
		cursor: pointer
		z-index: 2
		width: 32px
		height: 32px
		border-radius: 50%
		background-color: rgba(255, 255, 255, 0.8)
		text-align: center
		line-height: 32px
		border: 1px solid #FFCDCD
		position: absolute
		top: 16px
		right: 16px
		transition: background-color .3s
		&:hover
			background-color: $pink
			svg
				fill: #fff
		svg
			fill: $pink
			transition: fill .3s
		&.added
			background-color: $pink
			svg
				fill: #fff

	.product-image
		max-width: 100%

	.text
		padding: 16px
		padding-bottom: 0
		.name
			padding-bottom: 4px
		.availability
			font-size: .72em
			&.availability-yes
				color: $accent-color
			&.availability-no
				color: $pink

	.price-button-wrapper
		padding: 16px
		padding-top: 0
		display: flex
		justify-content: space-between
		align-items: center
		.price-wrapper
			display: flex
			flex-direction: column
		.price
			font-size: 1.22em
			font-weight: bold
			color: $pink
		.old-price
			margin-bottom: -7px
			font-size: .72em
			text-decoration: line-through
			color: #bdbdbd

	.additional-info-block
		padding: 16px
		padding-bottom: 0
		padding-top: 0
		font-size: .72em
		opacity: 0
		display: none
		position: absolute
		top: -100px
	&:hover
		.additional-info-block
			opacity: 1
			top: auto
			display: block

.product-cards-wrapper
	display: flex
	flex-wrap: wrap

.new-items-block
	margin-top: 24px
	margin-bottom: 40px
	.product-card:nth-child(4n)
		margin-right: 0
	.header-wrapper
		width: 100%
		display: flex
		justify-content: space-between
		align-items: center
		margin-bottom: 16px

.subscribe-form
	border-radius: 0 10px 10px 10px
	width: 100%
	display: flex
	justify-content: space-between
	padding: 48px 40px
	background-color: $violet
	input
		border-radius: 100px
		border: none
		height: 48px
		padding-left: 16px
		width: 100%
		margin-right: 16px
	button
		width: 160px

.subscribe-block
	h2
		margin-bottom: 0
		padding: 32px 56px 0 40px
		border-radius: 50px 50px 0px 0px
		font-size: 1.55em

.advantage
	padding: 0 32px
	display: flex
	align-items: center
	p
		padding-left: 24px

.header-wrapper
	width: 100%
	display: flex
	justify-content: space-between
	align-items: center
	margin-bottom: 16px

.advantages-block
	margin-top: 48px
	margin-bottom: 48px

.footer-text-block
	background-color: #fff
	padding-top: 40px
	padding-bottom: 40px

.our-brands
	background-color: #fff
	padding-top: 40px
	padding-bottom: 40px
	.header-wrapper
		width: 100%
		display: flex
		justify-content: space-between
		align-items: center
		margin-bottom: 16px
	.four-items-slider
		margin-top: 32px

	.swiper-slide
		position: relative
		img
			max-width: 100%
		&:after
			position: absolute
			top: 50%
			transform: translateY(-50%)
			right: -15px
			content: ""
			display: block
			width: 2px
			height: 80px
			background-color: $accent-color

.four-items-slider
	position: relative

.my-swiper-button-next,
.my-swiper-button-prev
	position: absolute
	width: 56px
	height: 56px
	background-color: $accent-color
	border-radius: 50%
	display: flex
	text-align: center
	align-items: center
	justify-content: center
	cursor: pointer
	outline: none
	transition: background-color .3s
	&:after
		content: none
	&:hover
		background-color: $hover-color
	svg
		fill: #fff

.my-swiper-button-next
	right: -28px
.my-swiper-button-prev
	left: -28px

.swiper-navigation
	position: absolute
	top: calc(50% - 28px)
	transform: translateY(-50%)
	width: 100%
	z-index: 1


footer
	padding-top: 40px
	.minimum-order-label
		font-size: .9em
		margin-left: -8px
		margin-bottom: 16px
	.wide-col
		.button
			margin-top: 12px

	h3
		font-size: 1.11em
		margin-bottom: 24px
		line-height: 1.2

	.small-col
		nav
			font-size: .88em
			li
				margin-bottom: 12px
				line-height: 1.1

	.social

		svg
			fill: $violet
			width: 48px
			height: 48px
		a
			display: inline-block
			margin-right: 24px
			margin-bottom: 24px
			position: relative
			width: 48px
			height: 48px
			text-decoration: none

	.footer-bottom
		margin-top: 40px
		padding: 22px 0
		font-size: .88em
		background-color: $violet
		color: #fff
		font-weight: 400
		p
			padding: 0
			margin: 0
		.container
			display: flex
			justify-content: space-between
			align-items: center
		.created-by
			a
				color: #fff
				&:hover
					color: #fff


.popup-block
	position: relative
	display: block
	margin: 0 auto
	max-width: 600px
	padding: 32px
	background: #FFF
	box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.05)
	border-radius: 10px
	width: 100%
	.mfp-close
		top: 22px
		right: 22px

#login-popup
	max-width: 370px
	input
		width: 100%
		margin-top: 24px
	.forget-password
		font-size: .88em
		color: $accent-color
		font-weight: 400
		margin-top: 8px
		margin-left: 16px
		display: inline-block
	.buttons-wrapper
		margin-top: 24px
		display: flex
		align-items: center
		justify-content: space-between
	.enter-btn
		min-width: 140px
	.register-btn
		color: $red
		font-size: .88em
		&:hover
			color: $accent-color

.two-cols
	display: flex


#register-popup
	max-width: 560px
	input
		width: 100%
		margin-top: 24px
	.two-cols
		input
			margin-right: 16px
			&:last-child
				margin-right: 0

	.buttons-wrapper
		margin-top: 24px
		display: flex
		align-items: center
		justify-content: space-between
	.register-btn
		min-width: 226px
	.enter-btn
		color: $red
		font-size: .88em
		&:hover
			color: $accent-color


.custom-checkbox
	position: relative
	cursor: pointer
	input
		position: absolute
		opacity: 0
		cursor: pointer
		height: 0
		width: 0
	span
		display: inline-block
		font-size: .94em
		text-align: center
		padding: 8px 16px
		background-color: transparent
		color: $accent-color
		border: 2px solid $accent-color
		border-radius: 100px
		font-weight: bold
		transition: background-color .3s
	input:checked
		&+span
			background-color: $accent-color
			color: #fff


.catalogue-filters
	margin-bottom: 16px
	.custom-checkbox
		margin-right: 8px
	.price-sort-btn
		margin-right: 8px
		svg
			position: relative
			top: 3px
			margin-left: 16px
			fill: #fff
			transition: transform .2s
	.to-hight
		svg
			transform: rotate(90deg)
	.to-low
		svg
			transform: rotate(270deg)

.catalogue-content-wrapper
	display: flex
	align-items: flex-start
	.sidebar-catalogue-menu
		background: #FFFFFF
		box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.05)
		border-radius: 10px
		min-width: 249px
		margin-right: 16px
		position: relative
		.show-btn
			width: 16px
			height: 48px
			border-top-right-radius: 10px
			border-bottom-right-radius: 10px
			background-color: $pink
			position: absolute
			top: 0
			right: -16px
			display: none
			align-items: center
			justify-content: center
			svg
				fill: #fff

		&>ul
			&>li
				padding: 16px
				border-bottom: 2px solid $gray
				svg
					fill: $accent-color
					margin-right: 6px
					position: relative
					top: 3px
				&>a
					font-weight: bold
					color: $violet
					&:hover
						color: $accent-color
				&.active
					svg
						fill: $pink
					&>a
						color: $pink
						&:hover
							svg
								fill: $accent-color

		.submenu
			margin-left: 32px
			li
				font-size: .88em
				padding: 4px 0
				&:first-child
					margin-top: 8px
				&.active
					a
						color: $pink
						&:hover
							color: $accent-color

		.second-submenu
			margin-left: 8px

			li
				&:before
					content: "-"
					margin-right: 2px

.has-second-submenu
	position: relative
	.arrow
		position: absolute
		width: 10px
		top: 0
		right: 0
		transform: rotate(90deg)
		transition: transform .2s
		svg
			fill: $violet
		&.show
			transform: rotate(270deg)



@import "media" // Always at the end
