/* Messages */
@import url("./lib/jquery.jgrowl.min.css");
div.jGrowl > .ui-state-highlight {
    background: inherit;
    color: inherit;
    border: inherit;
}
.ms2-message-success { background-color: green !important; }
.ms2-message-error { background-color: brown !important; }
.ms2-message-info { background-color: black !important; }

/* Cart */
#msCart th.count,
#msCart th.weight,
#msCart th.price,
#msCart th.remove { width: 15%; }
.js #msCart [type="submit"][value="cart/change"] { display: none; }

#msMiniCart { font-size: .8em; }
#msMiniCart h5 { margin: 0; }
#msMiniCart .empty { display: block; }
#msMiniCart .not_empty { display: none; }
#msMiniCart.full .empty { display: none; }
#msMiniCart.full .not_empty { display: block; }

/* Product */
#msProduct .old_price, #msCart .old_price, .ms2_product .old_price {
    color: brown;
    font-style: italic;
    text-decoration: line-through;
}

/* Order */
#msOrder .radio { min-height: 30px; margin-bottom: 10px; }
#msOrder .radio img { max-height: 30px; margin-top: -2px; padding: 0 10px; }
#msOrder .required-star { display: none; color: brown; }
#msOrder .required .required-star { display: inline; }
#msOrder .error { border: 1px solid brown !important; }

/* Logs */
.msProductsLog, .msGalleryLog, .msCartLog, .msOrderLog, .msGetOrderLog {
    width: 100%;
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
}