<div class="row review-form-wrapper">
    <div class="col-md-6">
        <p class="big-text strong">Ваш отзыв</p>
        <form method="post" action="" id="ticketForm">
            <input type="hidden" name="parent" value="88" >
            <input type="hidden" name="tid" value="0"/>
            <input type="text" name="pagetitle" placeholder="Ваше имя" title="Ваше имя" value="{$_modx->user.fullname}" >
            {*<input type="email" placeholder="Email" title="Email">*}
            <textarea placeholder="Ваш отзыв" name="content" title="Ваш отзыв"></textarea>
            <p>Нажимая на кнопку "Отправить", я даю согласие на <a href="{'85' | url}">обработку персональных данных</a></p>
            <button type="submit" name="draft" title="Ctrl + Shift + Enter">Отправить</button>
        </form>
    </div>
</div>