<form action="[[~[[+pageId]]]]" method="get" class="search-block mobile-search-block msearch2" id="mse2_form_mobile">
    <input name="[[+queryVar]]" type="text" class="search" placeholder="Поиск" value="[[+mse2_query]]">
    <button>
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M15.5 13.8L12.2001 10.5C13.0001 9.4 13.4 8.1 13.4 6.7C13.4 5.8 13.2 4.9 12.9 4.1C12.5 3.3 12.1 2.5 11.5 1.9C10.9 1.3 10.2 0.8 9.30005 0.5C8.50005 0.1 7.60007 0 6.70007 0C5.80007 0 4.89998 0.2 4.09998 0.5C3.29998 0.9 2.50002 1.3 1.90002 1.9C1.30002 2.5 0.8 3.2 0.5 4.1C0.1 4.9 0 5.8 0 6.7C0 7.6 0.2 8.5 0.5 9.3C0.9 10.1 1.30002 10.9 1.90002 11.5C2.50002 12.1 3.19998 12.6 4.09998 12.9C4.89998 13.3 5.80007 13.4 6.70007 13.4C8.10007 13.4 9.4 13 10.5 12.2L13.8 15.5C14 15.7 14.3001 15.9 14.7001 15.9C15.0001 15.9 15.3 15.8 15.6 15.5C15.8 15.3 16 15 16 14.6C15.9 14.3 15.8 14 15.5 13.8ZM9.70007 9.7C8.90007 10.5 7.80007 11 6.70007 11C5.50007 11 4.50007 10.6 3.70007 9.7C2.90007 8.8 2.40002 7.8 2.40002 6.7C2.40002 5.5 2.80007 4.5 3.70007 3.7C4.50007 2.9 5.60007 2.4 6.70007 2.4C7.80007 2.4 8.90007 2.8 9.70007 3.7C10.5001 4.6 11 5.6 11 6.7C11 7.9 10.6001 8.9 9.70007 9.7Z"/></svg>
    </button>
</form>