<form class="subscribe-form">
    <input name="name" type="text" placeholder="Имя">
    <input name="email" type="email" placeholder="E-mail">
    <input name="useremail" type="email" placeholder="E-mail">
    <input type="hidden" name="subscribe" value="1">
    <button type="submit" name="submit">Подписаться</button>
</form>