<h1>Здравствуйте, {$fullname ?: $username}</h1>
<p>Мы обновили наш сайт <a href="{'site_url' | config}">junior35.ru</a>. Сделали его более удобным для Вас.</p>
<p>Просим Вас придумать новый пароль для входа в Ваш личный кабинет.</p>
<p>Сделать это можно через процедуру восстановления пароля. Для этого пройдите по ссылке ниже и укажите ваш логин.</p>
<p>Ваш логин: <strong>{$username}</strong></p>
<p>Ссылка: <a href="{'471' | url}">Страница восстановления пароля.</a></p>
<br /><br />
<p>-------------</p>
<p>Это письмо создано автоматически. Просьба не отвечать на данное сообщение.</p>
<p>Пишите нам на: <a href="mailto:mail@junior35.ru">mail@junior35.ru</a>. Будем рады вашим комментариям, вопросам и предложениям!</p>