<h3>{$user.fullname} просит выставить счет для оплаты заказа №{$order.num}</h3>
<p>Пользователь указал реквизиты и просит выставить счет для оплаты. Заказ вы можете найти по <a href="{$link}">этой ссылке</a></p>