{extends 'file:templates/base/base.tpl'}

{block 'template'}

    {var $where = ['(`Data`.`available_sizes` > 0 OR `Data`.`available_rows` > 0 OR `Data`.`soon_available` > 0)']}

    {var $options = [
        'element' => 'msProducts@cat',
        'limit' => '30',
        'maxLimit' => '5000',
        'tpl' => '@FILE chunks/catalog/productList.tpl',
        'parents' => $_modx->resource.id,
        'includeThumbs' => 'list',
        'where' => $where,
        'pageLimit' => '7',
        'ajaxMode' => 'default',
        'ajaxHistory' => '1',
        'ajax' => '1',
        'tplPageWrapper' => '@INLINE <nav class="pagination"><div class="container"><ul>{$first}{$prev}{$pages}{$next}{$last}</ul></div></nav>',
        'tplPage' => '@INLINE <li><a href="{$href}">{$pageNo}</a></li>',
        'tplPageActive' => '@INLINE <li class="active"><a href="{$href}">{$pageNo}</a></li>',
        'tplPageFirst' => '@INLINE <li class="first"><a href="{$href}"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.79244 8.7921C9.01095 8.57348 9.12044 8.28676 9.12044 8.00001C9.12044 7.71336 9.0112 7.42665 8.79265 7.20792L1.91295 0.328386C1.47531 -0.109462 0.765763 -0.109462 0.328306 0.328386C-0.109152 0.765808 -0.109152 1.47514 0.328306 1.91278L6.41564 8.00001L0.328093 14.0872C-0.109364 14.5249 -0.109364 15.2343 0.328093 15.6717C0.765551 16.1094 1.4751 16.1094 1.91273 15.6717L8.79244 8.7921ZM14.7924 8.7921C15.011 8.57348 15.1204 8.28676 15.1204 8.00001C15.1204 7.71336 15.0112 7.42665 14.7927 7.20792L7.91295 0.328386C7.47531 -0.109462 6.76576 -0.109462 6.32831 0.328386C5.89085 0.765808 5.89085 1.47514 6.32831 1.91278L12.4156 8.00001L6.32809 14.0872C5.89064 14.5249 5.89064 15.2343 6.32809 15.6717C6.76555 16.1094 7.4751 16.1094 7.91273 15.6717L14.7924 8.7921Z"/></svg></a></li>',
        'tplPageFirstEmpty' => '@INLINE <li class="first disabled"><a href="{$href}"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.79244 8.7921C9.01095 8.57348 9.12044 8.28676 9.12044 8.00001C9.12044 7.71336 9.0112 7.42665 8.79265 7.20792L1.91295 0.328386C1.47531 -0.109462 0.765763 -0.109462 0.328306 0.328386C-0.109152 0.765808 -0.109152 1.47514 0.328306 1.91278L6.41564 8.00001L0.328093 14.0872C-0.109364 14.5249 -0.109364 15.2343 0.328093 15.6717C0.765551 16.1094 1.4751 16.1094 1.91273 15.6717L8.79244 8.7921ZM14.7924 8.7921C15.011 8.57348 15.1204 8.28676 15.1204 8.00001C15.1204 7.71336 15.0112 7.42665 14.7927 7.20792L7.91295 0.328386C7.47531 -0.109462 6.76576 -0.109462 6.32831 0.328386C5.89085 0.765808 5.89085 1.47514 6.32831 1.91278L12.4156 8.00001L6.32809 14.0872C5.89064 14.5249 5.89064 15.2343 6.32809 15.6717C6.76555 16.1094 7.4751 16.1094 7.91273 15.6717L14.7924 8.7921Z"/></svg></a></li>',
        'tplPageLast' => '@INLINE <li class="last"><a href="{$href}"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.79244 8.7921C9.01095 8.57348 9.12044 8.28676 9.12044 8.00001C9.12044 7.71336 9.0112 7.42665 8.79265 7.20792L1.91295 0.328386C1.47531 -0.109462 0.765763 -0.109462 0.328306 0.328386C-0.109152 0.765808 -0.109152 1.47514 0.328306 1.91278L6.41564 8.00001L0.328093 14.0872C-0.109364 14.5249 -0.109364 15.2343 0.328093 15.6717C0.765551 16.1094 1.4751 16.1094 1.91273 15.6717L8.79244 8.7921ZM14.7924 8.7921C15.011 8.57348 15.1204 8.28676 15.1204 8.00001C15.1204 7.71336 15.0112 7.42665 14.7927 7.20792L7.91295 0.328386C7.47531 -0.109462 6.76576 -0.109462 6.32831 0.328386C5.89085 0.765808 5.89085 1.47514 6.32831 1.91278L12.4156 8.00001L6.32809 14.0872C5.89064 14.5249 5.89064 15.2343 6.32809 15.6717C6.76555 16.1094 7.4751 16.1094 7.91273 15.6717L14.7924 8.7921Z"></svg></a></li>',
        'tplPageLastEmpty' => '@INLINE <li class="last disabled"><a href="{$href}"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.79244 8.7921C9.01095 8.57348 9.12044 8.28676 9.12044 8.00001C9.12044 7.71336 9.0112 7.42665 8.79265 7.20792L1.91295 0.328386C1.47531 -0.109462 0.765763 -0.109462 0.328306 0.328386C-0.109152 0.765808 -0.109152 1.47514 0.328306 1.91278L6.41564 8.00001L0.328093 14.0872C-0.109364 14.5249 -0.109364 15.2343 0.328093 15.6717C0.765551 16.1094 1.4751 16.1094 1.91273 15.6717L8.79244 8.7921ZM14.7924 8.7921C15.011 8.57348 15.1204 8.28676 15.1204 8.00001C15.1204 7.71336 15.0112 7.42665 14.7927 7.20792L7.91295 0.328386C7.47531 -0.109462 6.76576 -0.109462 6.32831 0.328386C5.89085 0.765808 5.89085 1.47514 6.32831 1.91278L12.4156 8.00001L6.32809 14.0872C5.89064 14.5249 5.89064 15.2343 6.32809 15.6717C6.76555 16.1094 7.4751 16.1094 7.91273 15.6717L14.7924 8.7921Z"></svg></a></li>',
        'tplPageNext' => '@INLINE <li class="next"><a href="{$href}"><svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.56021 8.00004C9.56021 8.2868 9.45072 8.57351 9.2322 8.79213L2.3525 15.6718C1.91487 16.1094 1.20532 16.1094 0.767859 15.6718C0.330402 15.2343 0.330402 14.5249 0.767859 14.0872L6.8554 8.00004L0.768072 1.91282C0.330614 1.47518 0.330614 0.765843 0.768072 0.328421C1.20553 -0.109426 1.91508 -0.109426 2.35271 0.328421L9.23242 7.20795C9.45097 7.42668 9.56021 7.7134 9.56021 8.00004Z"/></svg></a></li>',
        'tplPageNextEmpty' => '@INLINE <li class="next disabled"><a href="{$href}"><svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.56021 8.00004C9.56021 8.2868 9.45072 8.57351 9.2322 8.79213L2.3525 15.6718C1.91487 16.1094 1.20532 16.1094 0.767859 15.6718C0.330402 15.2343 0.330402 14.5249 0.767859 14.0872L6.8554 8.00004L0.768072 1.91282C0.330614 1.47518 0.330614 0.765843 0.768072 0.328421C1.20553 -0.109426 1.91508 -0.109426 2.35271 0.328421L9.23242 7.20795C9.45097 7.42668 9.56021 7.7134 9.56021 8.00004Z"/></svg></a></li>',
        'tplPagePrev' => '@INLINE <li class="prev"><a href="{$href}"><svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.56021 8.00004C9.56021 8.2868 9.45072 8.57351 9.2322 8.79213L2.3525 15.6718C1.91487 16.1094 1.20532 16.1094 0.767859 15.6718C0.330402 15.2343 0.330402 14.5249 0.767859 14.0872L6.8554 8.00004L0.768072 1.91282C0.330614 1.47518 0.330614 0.765843 0.768072 0.328421C1.20553 -0.109426 1.91508 -0.109426 2.35271 0.328421L9.23242 7.20795C9.45097 7.42668 9.56021 7.7134 9.56021 8.00004Z"/></svg></a></li>',
        'tplPagePrevEmpty' => '@INLINE <li class="prev disabled"><a href="{$href}"><svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.56021 8.00004C9.56021 8.2868 9.45072 8.57351 9.2322 8.79213L2.3525 15.6718C1.91487 16.1094 1.20532 16.1094 0.767859 15.6718C0.330402 15.2343 0.330402 14.5249 0.767859 14.0872L6.8554 8.00004L0.768072 1.91282C0.330614 1.47518 0.330614 0.765843 0.768072 0.328421C1.20553 -0.109426 1.91508 -0.109426 2.35271 0.328421L9.23242 7.20795C9.45097 7.42668 9.56021 7.7134 9.56021 8.00004Z"/></svg></a></li>',
        'tplPageSkip' => '@INLINE <li class="dots">...</li>'
    ]}

    {var $results = '!pdoPage' | snippet : $options}

    {include 'file:chunks/base/breadcrumbs.tpl'}

    <div class="container">
        <div class="header-wrapper">
            <h1 class="pink-color h2 beautifull-h">{$_modx->resource.pagetitle ?: $modx->resource.longtitle}</h1>
            <p class="pink-color header-wrapper_right-label">Найдено товаров: <span id="mse2_total" class="goods-count">{$_modx->getPlaceholder('page.total')}</span></p>
        </div>
        <button class="button filter-button">Фильтры</button>
    </div>

    <div id="pdopage">
        <div class="container catalogue-content-wrapper">
            <div class="menu-filter-wrapper">
                <nav class="sidebar-catalogue-menu">
                    <ul>
                        <li>
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 6.09375C7.84607 6.09375 6.09375 7.84607 6.09375 10C6.09375 12.1539 7.84607 13.9062 10 13.9062C12.1539 13.9062 13.9062 12.1539 13.9062 10C13.9062 7.84607 12.1539 6.09375 10 6.09375ZM10 12.3438C8.70758 12.3438 7.65625 11.2924 7.65625 10C7.65625 8.70758 8.70758 7.65625 10 7.65625C11.2924 7.65625 12.3438 8.70758 12.3438 10C12.3438 11.2924 11.2924 12.3438 10 12.3438ZM20 10C20 8.60825 19.2598 7.34131 18.0966 6.64627C18.4276 5.33234 18.0551 3.91296 17.0711 2.92892C16.087 1.94489 14.6677 1.57242 13.3537 1.90338C12.6587 0.740356 11.3918 0 10 0C8.60825 0 7.34131 0.740204 6.64627 1.90338C5.33234 1.57257 3.91296 1.94489 2.92892 2.92892C1.94489 3.91296 1.57242 5.33234 1.90338 6.64627C0.740204 7.34131 0 8.60825 0 10C0 11.3918 0.740204 12.6587 1.90338 13.3537C1.57242 14.6677 1.94489 16.087 2.92892 17.0711C3.91541 18.0576 5.33585 18.4267 6.64627 18.0966C7.34131 19.2596 8.60825 20 10 20C11.3918 20 12.6587 19.2598 13.3537 18.0966C14.6677 18.4274 16.087 18.0551 17.0711 17.0711C18.0551 16.087 18.4276 14.6677 18.0966 13.3537C19.2598 12.6587 20 11.3918 20 10ZM16.866 12.213C16.4258 12.3666 16.2169 12.8699 16.4198 13.2901C16.8526 14.1867 16.6702 15.2621 15.9662 15.9662C15.2623 16.6702 14.1869 16.8524 13.2903 16.4197C12.8703 16.217 12.3668 16.4253 12.213 16.8658C11.8849 17.8059 10.9956 18.4375 10 18.4375C9.00436 18.4375 8.11508 17.8059 7.78702 16.866C7.6326 16.4232 7.12769 16.2181 6.7099 16.4197C5.81314 16.8524 4.73785 16.6702 4.03381 15.9662C3.32977 15.2623 3.14758 14.1869 3.58032 13.2903C3.78296 12.8703 3.57468 12.3668 3.13416 12.213C2.19406 11.8849 1.5625 10.9956 1.5625 10C1.5625 9.00436 2.19406 8.11508 3.134 7.78702C3.57422 7.63336 3.78311 7.13013 3.58017 6.7099C3.14743 5.81329 3.32977 4.73785 4.03381 4.03381C4.7377 3.32977 5.81314 3.14758 6.70975 3.58032C7.12967 3.78296 7.63321 3.57468 7.78702 3.13416C8.11508 2.19406 9.00436 1.5625 10 1.5625C10.9956 1.5625 11.8849 2.19406 12.213 3.134C12.3665 3.57422 12.8699 3.78311 13.2901 3.58032C14.1867 3.14743 15.2621 3.32977 15.9662 4.03381C16.6702 4.7377 16.8524 5.81314 16.4197 6.70975C16.217 7.12967 16.4253 7.63321 16.8658 7.78702C17.8059 8.11508 18.4375 9.00436 18.4375 10C18.4375 10.9956 17.8059 11.8849 16.866 12.213Z"/></svg>
                            <a href="{'3718' | url}">{'3718' | resource : 'menutitle'}</a>
                        </li>
                    </ul>
                </nav>
                <nav class="sidebar-catalogue-menu">
                    <ul>
                        <li>
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 6.09375C7.84607 6.09375 6.09375 7.84607 6.09375 10C6.09375 12.1539 7.84607 13.9062 10 13.9062C12.1539 13.9062 13.9062 12.1539 13.9062 10C13.9062 7.84607 12.1539 6.09375 10 6.09375ZM10 12.3438C8.70758 12.3438 7.65625 11.2924 7.65625 10C7.65625 8.70758 8.70758 7.65625 10 7.65625C11.2924 7.65625 12.3438 8.70758 12.3438 10C12.3438 11.2924 11.2924 12.3438 10 12.3438ZM20 10C20 8.60825 19.2598 7.34131 18.0966 6.64627C18.4276 5.33234 18.0551 3.91296 17.0711 2.92892C16.087 1.94489 14.6677 1.57242 13.3537 1.90338C12.6587 0.740356 11.3918 0 10 0C8.60825 0 7.34131 0.740204 6.64627 1.90338C5.33234 1.57257 3.91296 1.94489 2.92892 2.92892C1.94489 3.91296 1.57242 5.33234 1.90338 6.64627C0.740204 7.34131 0 8.60825 0 10C0 11.3918 0.740204 12.6587 1.90338 13.3537C1.57242 14.6677 1.94489 16.087 2.92892 17.0711C3.91541 18.0576 5.33585 18.4267 6.64627 18.0966C7.34131 19.2596 8.60825 20 10 20C11.3918 20 12.6587 19.2598 13.3537 18.0966C14.6677 18.4274 16.087 18.0551 17.0711 17.0711C18.0551 16.087 18.4276 14.6677 18.0966 13.3537C19.2598 12.6587 20 11.3918 20 10ZM16.866 12.213C16.4258 12.3666 16.2169 12.8699 16.4198 13.2901C16.8526 14.1867 16.6702 15.2621 15.9662 15.9662C15.2623 16.6702 14.1869 16.8524 13.2903 16.4197C12.8703 16.217 12.3668 16.4253 12.213 16.8658C11.8849 17.8059 10.9956 18.4375 10 18.4375C9.00436 18.4375 8.11508 17.8059 7.78702 16.866C7.6326 16.4232 7.12769 16.2181 6.7099 16.4197C5.81314 16.8524 4.73785 16.6702 4.03381 15.9662C3.32977 15.2623 3.14758 14.1869 3.58032 13.2903C3.78296 12.8703 3.57468 12.3668 3.13416 12.213C2.19406 11.8849 1.5625 10.9956 1.5625 10C1.5625 9.00436 2.19406 8.11508 3.134 7.78702C3.57422 7.63336 3.78311 7.13013 3.58017 6.7099C3.14743 5.81329 3.32977 4.73785 4.03381 4.03381C4.7377 3.32977 5.81314 3.14758 6.70975 3.58032C7.12967 3.78296 7.63321 3.57468 7.78702 3.13416C8.11508 2.19406 9.00436 1.5625 10 1.5625C10.9956 1.5625 11.8849 2.19406 12.213 3.134C12.3665 3.57422 12.8699 3.78311 13.2901 3.58032C14.1867 3.14743 15.2621 3.32977 15.9662 4.03381C16.6702 4.7377 16.8524 5.81314 16.4197 6.70975C16.217 7.12967 16.4253 7.63321 16.8658 7.78702C17.8059 8.11508 18.4375 9.00436 18.4375 10C18.4375 10.9956 17.8059 11.8849 16.866 12.213Z"/></svg>
                            <a href="/{'3717' | url}">{'3717' | resource : 'menutitle'}</a>
                        </li>
                    </ul>
                </nav>
                <nav class="sidebar-catalogue-menu">
                    <ul>
                        <li>
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.8205 5.74905L15.2892 0.282593C15.1407 0.103607 14.9203 0 14.6877 0C11.7534 0 12.3818 2.96738 10.0002 2.96738C7.64929 2.96738 8.21066 0 5.31271 0C5.08016 0 4.85967 0.103607 4.7112 0.282593L0.179954 5.74905C-0.0490805 6.02524 -0.060372 6.42212 0.152641 6.71112L2.34014 9.6785C2.62823 10.0694 3.20394 10.1077 3.53963 9.74854L4.53146 8.68759V19.2188C4.53146 19.6503 4.88119 20 5.31271 20H8.51583C8.94735 20 9.29708 19.6503 9.29708 19.2188V17.0326H10.7033V19.2188C10.7033 19.6503 11.0531 20 11.4846 20H14.6877C15.1192 20 15.469 19.6503 15.469 19.2188V8.68759L16.4608 9.74854C16.794 10.1051 17.3704 10.0719 17.6603 9.6785L19.8478 6.71112C20.0608 6.42212 20.0495 6.02524 19.8205 5.74905ZM16.9604 7.99484L15.2584 6.17432C14.7759 5.65826 13.9065 6.00006 13.9065 6.70792V18.4375H12.2658V16.2514C12.2658 15.8199 11.9161 15.4701 11.4846 15.4701H8.51583C8.08431 15.4701 7.73458 15.8199 7.73458 16.2514V18.4375H6.09396V6.70792C6.09396 6.00143 5.22543 5.6572 4.74203 6.17432L3.04006 7.99484L1.77282 6.27579L5.64672 1.60233C7.01788 1.9339 6.9103 4.52988 10.0002 4.52988C13.1054 4.52988 12.9751 1.93573 14.3535 1.60233L18.2274 6.27579L16.9604 7.99484Z" /></svg>
                            <a href="/{'76' | url}">{'76' | resource : 'menutitle'}</a>
                        </li>
                    </ul>
                </nav>
                <nav class="sidebar-catalogue-menu">
                    <ul>
                        <li>
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.8593 5.7515L15.328 0.282745C15.1797 0.103607 14.9591 0 14.7265 0C11.7767 0 12.4322 2.96875 10.039 2.96875C7.69038 2.96875 8.24687 0 5.35152 0C5.11882 0 4.89833 0.103607 4.74986 0.282745L0.218612 5.7515C-0.0102696 6.02783 -0.0215611 6.42456 0.191299 6.71341L2.3788 9.68216C2.6675 10.074 3.24351 10.1106 3.5786 9.7522L4.16438 9.12521L2.94322 16.5807C2.90126 16.8369 2.9893 17.097 3.17805 17.2751C5.04069 19.0323 7.47722 20 10.039 20C12.6007 20 15.0373 19.0323 16.9 17.2751C17.0887 17.097 17.1768 16.8367 17.1348 16.5807L15.9136 9.12537L16.4994 9.7522C16.8359 10.1122 17.4116 10.0725 17.6992 9.68216L19.8867 6.71341C20.0996 6.42456 20.0883 6.02783 19.8593 5.7515ZM16.9992 7.99835L15.2973 6.17706C14.7714 5.61432 13.831 6.07697 13.9555 6.83685L15.5238 16.4119C13.9958 17.7211 12.0637 18.4375 10.039 18.4375C8.01417 18.4375 6.08211 17.7211 4.55409 16.4119L6.12239 6.83685C6.24706 6.07666 5.3065 5.61447 4.78068 6.17706L3.07887 7.99835L1.81148 6.27823L5.68568 1.60248C7.09529 1.94351 6.87297 4.53125 10.039 4.53125C13.148 4.53125 13.0122 1.93634 14.3923 1.60248L18.2666 6.27823L16.9992 7.99835Z" /></svg>
                            <a href="/{'77' | url}">{'77' | resource : 'menutitle'}</a>
                        </li>
                    </ul>
                </nav>
                {*<div class="show-btn"><svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.56021 8.00004C9.56021 8.2868 9.45072 8.57351 9.2322 8.79213L2.3525 15.6718C1.91487 16.1094 1.20532 16.1094 0.767859 15.6718C0.330402 15.2343 0.330402 14.5249 0.767859 14.0872L6.8554 8.00004L0.768072 1.91282C0.330614 1.47518 0.330614 0.765843 0.768072 0.328421C1.20553 -0.109426 1.91508 -0.109426 2.35271 0.328421L9.23242 7.20795C9.45097 7.42668 9.56021 7.7134 9.56021 8.00004Z" /></svg></div>*}
                <div class="close-btn"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.92888 13.6568C0.538355 14.0474 0.538355 14.6805 0.92888 15.0711C1.3194 15.4616 1.95257 15.4616 2.34309 15.0711L7.99995 9.4142L13.6568 15.0711C14.0473 15.4616 14.6805 15.4616 15.071 15.0711C15.4616 14.6805 15.4616 14.0474 15.071 13.6568L9.41417 7.99999L15.071 2.34314C15.4615 1.95261 15.4615 1.31945 15.071 0.928925C14.6805 0.538401 14.0473 0.538401 13.6568 0.928925L7.99995 6.58577L2.34311 0.928927C1.95258 0.538402 1.31942 0.538402 0.928895 0.928927C0.538371 1.31945 0.538371 1.95262 0.928896 2.34314L6.58574 7.99999L0.92888 13.6568Z"/></svg></div>
            </div>
            <div class="product-cards-wrapper rows">
                {$results}
            </div>
        </div>

        {$_modx->getPlaceholder('page.nav')}
        {if $_modx->getPlaceholder('pageCount') > 1}
            <div class="center">
                <a href="{$_modx->resource.uri}?limit=5000" class="button type2 pag_btn">Смотреть все</a>
            </div>
        {/if}
    </div>

    {include 'file:chunks/base/footer_text.tpl'}
{/block}

{block 'scriptAfter'}
    {*<script>
        $(document).ready(function () {
            $('.pag_btn').on('click', function (e) {
                e.preventDefault();
                var conf = pdoPage.configs.page;
                conf.mode = 'button';
                pdoPage.addPage(conf);
            });
            $(document).on('pdopage_load', function(e, config, response) {
                if (response.page == response.pages) {
                    $('.pag_btn').hide();
                }
                else {
                    $('.pag_btn').show();
                }
                pdoPage.configs.page.mode = 'default';
            });
        });
    </script>*}
{/block}